<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Rock and Roll Marathon Las Vegas 2015 – Girl In The Raw</title>
<link rel="dns-prefetch" href="//f68108fc-8969-11e8-bffa-468318759c16.app.getshifter.io">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link href="https://fonts.gstatic.com" crossorigin rel="preconnect">
<link rel="stylesheet" id="wp-block-library-css" href="http://girlintheraw.com/wp-includes/css/dist/block-library/style.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elara-fonts-css" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600%7CPlayfair+Display%3A400%2C400i%2C700%2C700i%2C900&subset=latin%2Clatin-ext" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" id="smartmenus-bootstrap-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/jquery.smartmenus.bootstrap.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="slick-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/slick.min.css" type="text/css" media="all">
<link rel="stylesheet" id="slick-theme-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/slick-theme.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elara-style-css" href="http://girlintheraw.com/wp-content/themes/elara/style.css" type="text/css" media="all">
<link rel="stylesheet" id="algolia-autocomplete-css" href="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/css/algolia-autocomplete.css" type="text/css" media="screen">


<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/jquery/jquery.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/underscore.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpUtilSettings = {"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/wp-util.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/algoliasearch/algoliasearch.jquery.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/autocomplete.js/autocomplete.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/autocomplete-noconflict.js"></script>




		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-57409707-1', 'auto');
			ga('send', 'pageview');
		</script>

	<script type="text/javascript">var algolia = {"debug":false,"application_id":"SMYR92R28O","search_api_key":"769851a58ff5b5c6893d8d20ce320300","powered_by_enabled":true,"query":"","autocomplete":{"sources":[{"index_id":"posts_post","index_name":"wp_posts_post","label":"Posts","admin_name":"Posts","position":10,"max_suggestions":5,"tmpl_suggestion":"autocomplete-post-suggestion","enabled":true}],"input_selector":"input[name='s']:not('.no-autocomplete')"},"indices":{"searchable_posts":{"name":"wp_searchable_posts","id":"searchable_posts","enabled":true,"replicas":[]},"posts_post":{"name":"wp_posts_post","id":"posts_post","enabled":true,"replicas":[]}}};</script><link rel="icon" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-32x32.png" sizes="32x32">
<link rel="icon" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-180x180.png">
<meta name="msapplication-TileImage" content="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-270x270.png">
		<style type="text/css" id="wp-custom-css">
			.search-field.aa-input {
	min-width: 255px;
}		</style>
		<style id="kirki-inline-styles"></style><script type="text/html" id="tmpl-autocomplete-header">
  <div class="autocomplete-header">
	<div class="autocomplete-header-title">{{{ data.label }}}
	<div class="clear">
  
</script>

<script type="text/html" id="tmpl-autocomplete-post-suggestion">
  <a class="suggestion-link" href="{{ data.permalink }}" title="{{ data.post_title }}">
	<# if ( data.images.thumbnail ) { #>
	  <img class="suggestion-post-thumbnail" src="{{ data.images.thumbnail.url }}" alt="{{ data.post_title }}">
	  <# } #>
		<div class="suggestion-post-attributes">
		  <span class="suggestion-post-title">{{{ data._highlightResult.post_title.value }}}
		  <# if ( data._snippetResult['content'] ) { #>
			<span class="suggestion-post-content">{{{ data._snippetResult['content'].value }}}
			<# } #>
		
  
</script>

<script type="text/html" id="tmpl-autocomplete-term-suggestion">
  <a class="suggestion-link" href="{{ data.permalink }}" title="{{ data.name }}">
	<svg viewBox="0 0 21 21" width="21" height="21">
	  <svg width="21" height="21" viewBox="0 0 21 21">
		<path
			d="M4.662 8.72l-1.23 1.23c-.682.682-.68 1.792.004 2.477l5.135 5.135c.7.693 1.8.688 2.48.005l1.23-1.23 5.35-5.346c.31-.31.54-.92.51-1.36l-.32-4.29c-.09-1.09-1.05-2.06-2.15-2.14l-4.3-.33c-.43-.03-1.05.2-1.36.51l-.79.8-2.27 2.28-2.28 2.27zm9.826-.98c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25-1.25.56-1.25 1.25.56 1.25 1.25 1.25z"
			fill-rule="evenodd">
	  
	
	<span class="suggestion-post-title">{{{ data._highlightResult.name.value }}}
  
</script>

<script type="text/html" id="tmpl-autocomplete-user-suggestion">
  <a class="suggestion-link user-suggestion-link" href="{{ data.posts_url }}" title="{{ data.display_name }}">
	<# if ( data.avatar_url ) { #>
	  <img class="suggestion-user-thumbnail" src="{{ data.avatar_url }}" alt="{{ data.display_name }}">
	  <# } #>

		<span class="suggestion-post-title">{{{ data._highlightResult.display_name.value }}}
  
</script>

<script type="text/html" id="tmpl-autocomplete-footer">
  <div class="autocomplete-footer">
	<div class="autocomplete-footer-branding">
	  <a href="#" class="algolia-powered-by-link" title="Algolia">
		<svg width="130" viewBox="0 0 130 18" xmlns="http://www.w3.org/2000/svg">
		  <title>Search by Algolia
		  <defs>
			<linearGradient x1="-36.868%" y1="134.936%" x2="129.432%" y2="-27.7%" id="a">
			  <stop stop-color="#00AEFF" offset="0%"/>
			  <stop stop-color="#3369E7" offset="100%"/>
			
		  
		  <g fill="none" fill-rule="evenodd">
			<path
				d="M59.399.022h13.299a2.372 2.372 0 0 1 2.377 2.364V15.62a2.372 2.372 0 0 1-2.377 2.364H59.399a2.372 2.372 0 0 1-2.377-2.364V2.381A2.368 2.368 0 0 1 59.399.022z"
				fill="url(#a)"/>
			<path
				d="M66.257 4.56c-2.815 0-5.1 2.272-5.1 5.078 0 2.806 2.284 5.072 5.1 5.072 2.815 0 5.1-2.272 5.1-5.078 0-2.806-2.279-5.072-5.1-5.072zm0 8.652c-1.983 0-3.593-1.602-3.593-3.574 0-1.972 1.61-3.574 3.593-3.574 1.983 0 3.593 1.602 3.593 3.574a3.582 3.582 0 0 1-3.593 3.574zm0-6.418v2.664c0 .076.082.131.153.093l2.377-1.226c.055-.027.071-.093.044-.147a2.96 2.96 0 0 0-2.465-1.487c-.055 0-.11.044-.11.104l.001-.001zm-3.33-1.956l-.312-.311a.783.783 0 0 0-1.106 0l-.372.37a.773.773 0 0 0 0 1.101l.307.305c.049.049.121.038.164-.011.181-.245.378-.479.597-.697.225-.223.455-.42.707-.599.055-.033.06-.109.016-.158h-.001zm5.001-.806v-.616a.781.781 0 0 0-.783-.779h-1.824a.78.78 0 0 0-.783.779v.632c0 .071.066.12.137.104a5.736 5.736 0 0 1 1.588-.223c.52 0 1.035.071 1.534.207a.106.106 0 0 0 .131-.104z"
				fill="#FFF"/>
			<path
				d="M102.162 13.762c0 1.455-.372 2.517-1.123 3.193-.75.676-1.895 1.013-3.44 1.013-.564 0-1.736-.109-2.673-.316l.345-1.689c.783.163 1.819.207 2.361.207.86 0 1.473-.174 1.84-.523.367-.349.548-.866.548-1.553v-.349a6.374 6.374 0 0 1-.838.316 4.151 4.151 0 0 1-1.194.158 4.515 4.515 0 0 1-1.616-.278 3.385 3.385 0 0 1-1.254-.817 3.744 3.744 0 0 1-.811-1.351c-.192-.539-.29-1.504-.29-2.212 0-.665.104-1.498.307-2.054a3.925 3.925 0 0 1 .904-1.433 4.124 4.124 0 0 1 1.441-.926 5.31 5.31 0 0 1 1.945-.365c.696 0 1.337.087 1.961.191a15.86 15.86 0 0 1 1.588.332v8.456h-.001zm-5.954-4.206c0 .893.197 1.885.592 2.299.394.414.904.621 1.528.621.34 0 .663-.049.964-.142a2.75 2.75 0 0 0 .734-.332v-5.29a8.531 8.531 0 0 0-1.413-.18c-.778-.022-1.369.294-1.786.801-.411.507-.619 1.395-.619 2.223zm16.12 0c0 .719-.104 1.264-.318 1.858a4.389 4.389 0 0 1-.904 1.52c-.389.42-.854.746-1.402.975-.548.229-1.391.36-1.813.36-.422-.005-1.26-.125-1.802-.36a4.088 4.088 0 0 1-1.397-.975 4.486 4.486 0 0 1-.909-1.52 5.037 5.037 0 0 1-.329-1.858c0-.719.099-1.411.318-1.999.219-.588.526-1.09.92-1.509.394-.42.865-.741 1.402-.97a4.547 4.547 0 0 1 1.786-.338 4.69 4.69 0 0 1 1.791.338c.548.229 1.019.55 1.402.97.389.42.69.921.909 1.509.23.588.345 1.28.345 1.999h.001zm-2.191.005c0-.921-.203-1.689-.597-2.223-.394-.539-.948-.806-1.654-.806-.707 0-1.26.267-1.654.806-.394.539-.586 1.302-.586 2.223 0 .932.197 1.558.592 2.098.394.545.948.812 1.654.812.707 0 1.26-.272 1.654-.812.394-.545.592-1.166.592-2.098h-.001zm6.962 4.707c-3.511.016-3.511-2.822-3.511-3.274L113.583.926l2.142-.338v10.003c0 .256 0 1.88 1.375 1.885v1.792h-.001zm3.774 0h-2.153V5.072l2.153-.338v9.534zm-1.079-10.542c.718 0 1.304-.578 1.304-1.291 0-.714-.581-1.291-1.304-1.291-.723 0-1.304.578-1.304 1.291 0 .714.586 1.291 1.304 1.291zm6.431 1.013c.707 0 1.304.087 1.786.262.482.174.871.42 1.156.73.285.311.488.735.608 1.182.126.447.186.937.186 1.476v5.481a25.24 25.24 0 0 1-1.495.251c-.668.098-1.419.147-2.251.147a6.829 6.829 0 0 1-1.517-.158 3.213 3.213 0 0 1-1.178-.507 2.455 2.455 0 0 1-.761-.904c-.181-.37-.274-.893-.274-1.438 0-.523.104-.855.307-1.215.208-.36.487-.654.838-.883a3.609 3.609 0 0 1 1.227-.49 7.073 7.073 0 0 1 2.202-.103c.263.027.537.076.833.147v-.349c0-.245-.027-.479-.088-.697a1.486 1.486 0 0 0-.307-.583c-.148-.169-.34-.3-.581-.392a2.536 2.536 0 0 0-.915-.163c-.493 0-.942.06-1.353.131-.411.071-.75.153-1.008.245l-.257-1.749c.268-.093.668-.185 1.183-.278a9.335 9.335 0 0 1 1.66-.142l-.001-.001zm.181 7.731c.657 0 1.145-.038 1.484-.104v-2.168a5.097 5.097 0 0 0-1.978-.104c-.241.033-.46.098-.652.191a1.167 1.167 0 0 0-.466.392c-.121.169-.175.267-.175.523 0 .501.175.79.493.981.323.196.75.289 1.293.289h.001zM84.109 4.794c.707 0 1.304.087 1.786.262.482.174.871.42 1.156.73.29.316.487.735.608 1.182.126.447.186.937.186 1.476v5.481a25.24 25.24 0 0 1-1.495.251c-.668.098-1.419.147-2.251.147a6.829 6.829 0 0 1-1.517-.158 3.213 3.213 0 0 1-1.178-.507 2.455 2.455 0 0 1-.761-.904c-.181-.37-.274-.893-.274-1.438 0-.523.104-.855.307-1.215.208-.36.487-.654.838-.883a3.609 3.609 0 0 1 1.227-.49 7.073 7.073 0 0 1 2.202-.103c.257.027.537.076.833.147v-.349c0-.245-.027-.479-.088-.697a1.486 1.486 0 0 0-.307-.583c-.148-.169-.34-.3-.581-.392a2.536 2.536 0 0 0-.915-.163c-.493 0-.942.06-1.353.131-.411.071-.75.153-1.008.245l-.257-1.749c.268-.093.668-.185 1.183-.278a8.89 8.89 0 0 1 1.66-.142l-.001-.001zm.186 7.736c.657 0 1.145-.038 1.484-.104v-2.168a5.097 5.097 0 0 0-1.978-.104c-.241.033-.46.098-.652.191a1.167 1.167 0 0 0-.466.392c-.121.169-.175.267-.175.523 0 .501.175.79.493.981.318.191.75.289 1.293.289h.001zm8.682 1.738c-3.511.016-3.511-2.822-3.511-3.274L89.461.926l2.142-.338v10.003c0 .256 0 1.88 1.375 1.885v1.792h-.001z"
				fill="#182359"/>
			<path
				d="M5.027 11.025c0 .698-.252 1.246-.757 1.644-.505.397-1.201.596-2.089.596-.888 0-1.615-.138-2.181-.414v-1.214c.358.168.739.301 1.141.397.403.097.778.145 1.125.145.508 0 .884-.097 1.125-.29a.945.945 0 0 0 .363-.779.978.978 0 0 0-.333-.747c-.222-.204-.68-.446-1.375-.725-.716-.29-1.221-.621-1.515-.994-.294-.372-.44-.82-.44-1.343 0-.655.233-1.171.698-1.547.466-.376 1.09-.564 1.875-.564.752 0 1.5.165 2.245.494l-.408 1.047c-.698-.294-1.321-.44-1.869-.44-.415 0-.73.09-.945.271a.89.89 0 0 0-.322.717c0 .204.043.379.129.524.086.145.227.282.424.411.197.129.551.299 1.063.51.577.24.999.464 1.268.671.269.208.466.442.591.704.125.261.188.569.188.924l-.001.002zm3.98 2.24c-.924 0-1.646-.269-2.167-.808-.521-.539-.782-1.281-.782-2.226 0-.97.242-1.733.725-2.288.483-.555 1.148-.833 1.993-.833.784 0 1.404.238 1.858.714.455.476.682 1.132.682 1.966v.682H7.357c.018.577.174 1.02.467 1.329.294.31.707.465 1.241.465.351 0 .678-.033.98-.099a5.1 5.1 0 0 0 .975-.33v1.026a3.865 3.865 0 0 1-.935.312 5.723 5.723 0 0 1-1.08.091l.002-.001zm-.231-5.199c-.401 0-.722.127-.964.381s-.386.625-.432 1.112h2.696c-.007-.491-.125-.862-.354-1.115-.229-.252-.544-.379-.945-.379l-.001.001zm7.692 5.092l-.252-.827h-.043c-.286.362-.575.608-.865.739-.29.131-.662.196-1.117.196-.584 0-1.039-.158-1.367-.473-.328-.315-.491-.761-.491-1.337 0-.612.227-1.074.682-1.386.455-.312 1.148-.482 2.079-.51l1.026-.032v-.317c0-.38-.089-.663-.266-.851-.177-.188-.452-.282-.824-.282-.304 0-.596.045-.876.134a6.68 6.68 0 0 0-.806.317l-.408-.902a4.414 4.414 0 0 1 1.058-.384 4.856 4.856 0 0 1 1.085-.132c.756 0 1.326.165 1.711.494.385.329.577.847.577 1.552v4.002h-.902l-.001-.001zm-1.88-.859c.458 0 .826-.128 1.104-.384.278-.256.416-.615.416-1.077v-.516l-.763.032c-.594.021-1.027.121-1.297.298s-.406.448-.406.814c0 .265.079.47.236.615.158.145.394.218.709.218h.001zm7.557-5.189c.254 0 .464.018.628.054l-.124 1.176a2.383 2.383 0 0 0-.559-.064c-.505 0-.914.165-1.227.494-.313.329-.47.757-.47 1.284v3.105h-1.262V7.218h.988l.167 1.047h.064c.197-.354.454-.636.771-.843a1.83 1.83 0 0 1 1.023-.312h.001zm4.125 6.155c-.899 0-1.582-.262-2.049-.787-.467-.525-.701-1.277-.701-2.259 0-.999.244-1.767.733-2.304.489-.537 1.195-.806 2.119-.806.627 0 1.191.116 1.692.349l-.381 1.015c-.534-.208-.974-.312-1.321-.312-1.028 0-1.542.682-1.542 2.046 0 .666.128 1.166.384 1.501.256.335.631.502 1.125.502a3.23 3.23 0 0 0 1.595-.419v1.101a2.53 2.53 0 0 1-.722.285 4.356 4.356 0 0 1-.932.086v.002zm8.277-.107h-1.268V9.506c0-.458-.092-.8-.277-1.026-.184-.226-.477-.338-.878-.338-.53 0-.919.158-1.168.475-.249.317-.373.848-.373 1.593v2.949h-1.262V4.801h1.262v2.122c0 .34-.021.704-.064 1.09h.081a1.76 1.76 0 0 1 .717-.666c.306-.158.663-.236 1.072-.236 1.439 0 2.159.725 2.159 2.175v3.873l-.001-.001zm7.649-6.048c.741 0 1.319.269 1.732.806.414.537.62 1.291.62 2.261 0 .974-.209 1.732-.628 2.275-.419.542-1.001.814-1.746.814-.752 0-1.336-.27-1.751-.811h-.086l-.231.704h-.945V4.801h1.262v1.987l-.021.655-.032.553h.054c.401-.591.992-.886 1.772-.886zm-.328 1.031c-.508 0-.875.149-1.098.448-.224.299-.339.799-.346 1.501v.086c0 .723.115 1.247.344 1.571.229.324.603.486 1.123.486.448 0 .787-.177 1.018-.532.231-.354.346-.867.346-1.536 0-1.35-.462-2.025-1.386-2.025l-.001.001zm3.244-.924h1.375l1.209 3.368c.183.48.304.931.365 1.354h.043c.032-.197.091-.436.177-.717.086-.281.541-1.616 1.364-4.004h1.364l-2.541 6.73c-.462 1.235-1.232 1.853-2.31 1.853-.279 0-.551-.03-.816-.091v-.999c.19.043.406.064.65.064.609 0 1.037-.353 1.284-1.058l.22-.559-2.385-5.941h.001z"
				fill="#1D3657"/>
		  
		
	  
	
  
</script>

<script type="text/html" id="tmpl-autocomplete-empty">
  <div class="autocomplete-empty">
	  No results matched your query 	<span class="empty-query">"{{ data.query }}"
  
</script>

<script type="text/javascript">
  jQuery(function () {
	/* init Algolia client */
	var client = algoliasearch(algolia.application_id, algolia.search_api_key);

	/* setup default sources */
	var sources = [];
	jQuery.each(algolia.autocomplete.sources, function (i, config) {
	  var suggestion_template = wp.template(config['tmpl_suggestion']);
	  sources.push({
		source: algoliaAutocomplete.sources.hits(client.initIndex(config['index_name']), {
		  hitsPerPage: config['max_suggestions'],
		  attributesToSnippet: [
			'content:10'
		  ],
		  highlightPreTag: '__ais-highlight__',
		  highlightPostTag: '__/ais-highlight__'
		}),
		templates: {
		  header: function () {
			return wp.template('autocomplete-header')({
			  label: _.escape(config['label'])
			});
		  },
		  suggestion: function (hit) {
      if(hit.escaped === true) {
        return suggestion_template(hit);
      }
      hit.escaped = true;

			for (var key in hit._highlightResult) {
			  /* We do not deal with arrays. */
			  if (typeof hit._highlightResult[key].value !== 'string') {
				continue;
			  }
			  hit._highlightResult[key].value = _.escape(hit._highlightResult[key].value);
			  hit._highlightResult[key].value = hit._highlightResult[key].value.replace(/__ais-highlight__/g, '<em>').replace(/__\/ais-highlight__/g, '');
			}

			for (var key in hit._snippetResult) {
			  /* We do not deal with arrays. */
			  if (typeof hit._snippetResult[key].value !== 'string') {
				continue;
			  }

			  hit._snippetResult[key].value = _.escape(hit._snippetResult[key].value);
			  hit._snippetResult[key].value = hit._snippetResult[key].value.replace(/__ais-highlight__/g, '<em>').replace(/__\/ais-highlight__/g, '');
			}

			return suggestion_template(hit);
		  }
		}
	  });

	});

	/* Setup dropdown menus */
	jQuery(algolia.autocomplete.input_selector).each(function (i) {
	  var $searchInput = jQuery(this);

	  var config = {
		debug: algolia.debug,
		hint: false,
		openOnFocus: true,
		appendTo: 'body',
		templates: {
		  empty: wp.template('autocomplete-empty')
		}
	  };

	  if (algolia.powered_by_enabled) {
		config.templates.footer = wp.template('autocomplete-footer');
	  }

	  /* Instantiate autocomplete.js */
	  var autocomplete = algoliaAutocomplete($searchInput[0], config, sources)
	  .on('autocomplete:selected', function (e, suggestion) {
		/* Redirect the user when we detect a suggestion selection. */
		window.location.href = suggestion.permalink;
	  });

	  /* Force the dropdown to be re-drawn on scroll to handle fixed containers. */
	  jQuery(window).scroll(function() {
		if(autocomplete.autocomplete.getWrapper().style.display === "block") {
		  autocomplete.autocomplete.close();
		  autocomplete.autocomplete.open();
		}
	  });
	});

	jQuery(document).on("click", ".algolia-powered-by-link", function (e) {
	  e.preventDefault();
	  window.location = "https://www.algolia.com/?utm_source=WordPress&utm_medium=extension&utm_content=" + window.location.hostname + "&utm_campaign=poweredby";
	});
  });
</script>
</head>

<body class="post-template-default single single-post postid-324 single-format-standard wp-custom-logo elara-background-color-default">

	<div class="header" role="banner">

		<div class="widget-area widget-area-header">
	<div class="container-wrap">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar-top sidebar-top-left col-md-4 col-xs-12">
											<div class="header-widget widget widget_nav_menu menu example-header-sidebar"> 		<ul>
			<li class="page_item page-item-1017"><a href="http://girlintheraw.com/ayurveda-training/">Ayurveda training</a></li>
<li class="page_item page-item-1002"><a href="http://girlintheraw.com/yoga-and-ayurveda-200hr-teacher-training/">Yoga and Ayurveda 200hr Teacher Training</a></li>
		</ul>
			</div>									</div>
				<div class="sidebar-top sidebar-top-center col-md-4 col-xs-12">
									</div>
				<div class="sidebar-top sidebar-top-right col-md-4 col-xs-12">
											<div class="header-widget widget widget_search example-header-sidebar"><form role="search" method="get" class="search-form" action="http://girlintheraw.com/">
	<input type="search" class="search-field" value="" name="s" placeholder="Search">
	<button type="submit" class="search-submit">
		<i class="fa fa-search"></i>		<span>Search</span>
	</button>
</form></div>									</div>
			</div>
		</div>
	</div>
</div>
<div class="header-toggle"><i class="fa fa-angle-down"></i></div>
<div class="default-background-color">
	<div class="logo">
					<div class="header-logo-text">
				<a href="http://girlintheraw.com/">Girl In The Raw</a>
			</div>
			</div>
</div><div class="default-background-color">
	<div class="wrapper wrapper-nav">
		<nav class="main-navbar navbar navbar-default" id="main-navbar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".wrapper-nav .navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="main-menu" class="navbar-collapse collapse menu-container"><ul id="menu-categories" class="nav navbar-nav menu"><li id="menu-item-976" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-976 dropdown"><a href="http://girlintheraw.com/category/recipes/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Recipes <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-977" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-977"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a></li>
	<li id="menu-item-978" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-978"><a href="http://girlintheraw.com/category/entrees/">Entrees</a></li>
	<li id="menu-item-983" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-983"><a href="http://girlintheraw.com/category/salad/">Salad</a></li>
	<li id="menu-item-981" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-981"><a href="http://girlintheraw.com/category/snacks/">Snacks</a></li>
	<li id="menu-item-984" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-984"><a href="http://girlintheraw.com/category/dessert/">Dessert</a></li>
	<li id="menu-item-987" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-987"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a></li>
	<li id="menu-item-982" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-982"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a></li>
</ul>
</li>
<li id="menu-item-973" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-973"><a href="http://girlintheraw.com/category/yoga/">Yoga</a></li>
<li id="menu-item-971" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-971 dropdown"><a href="http://girlintheraw.com/category/lifestyle/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Lifestyle <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-972" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-972"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a></li>
	<li id="menu-item-975" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-975"><a href="http://girlintheraw.com/category/reviews/">Reviews</a></li>
	<li id="menu-item-974" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-974"><a href="http://girlintheraw.com/category/travel/">Travel</a></li>
	<li id="menu-item-988" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-988"><a href="http://girlintheraw.com/category/fashion/">Fashion</a></li>
</ul>
</li>
<li id="menu-item-979" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-979 dropdown"><a href="http://girlintheraw.com/category/fitness/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Fitness <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-980" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-980"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a></li>
	<li id="menu-item-986" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-986"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a></li>
</ul>
</li>
</ul></div>		</nav>
	</div>
</div>	</div>
<div class="default-background-color">
	<main class="main" role="main">
		<div class="wrapper">
				
					<div class="entry-thumb">

									<a href="http://girlintheraw.com/2015/11/27/rock-and-roll-marathon-las-vegas-2015/" rel="bookmark">
				
									<img width="1063" height="680" src="/wp-content/uploads/2018/07/vegas15.jpg" class="img-responsive wp-post-image" alt="Rock and Roll Marathon Las Vegas 2015" srcset="/wp-content/uploads/2018/07/vegas15.jpg 1200w,/wp-content/uploads/2018/07/vegas15-300x192.jpg 300w,/wp-content/uploads/2018/07/vegas15-768x492.jpg 768w,/wp-content/uploads/2018/07/vegas15-1024x655.jpg 1024w" sizes="(max-width: 1063px) 100vw, 1063px">				
									</a>
				
			</div>				<div class="row post-sidebar-on">
					<div class="col-md-9 col-xs-12 entry-singular-wrapper">
						<article id="post-324" class="entry-singular post-324 post type-post status-publish format-standard has-post-thumbnail hentry category-race-recaps category-running-and-triathlon category-travel tag-las-vegas tag-marathon tag-racing tag-rock-and-roll-marathon tag-running tag-travel">
							
									<footer class="entry-meta">
										<div>
														<span class="entry-category"><a href="http://girlintheraw.com/category/race-recaps/" rel="category tag">Race Recaps</a>, <a href="http://girlintheraw.com/category/running-and-triathlon/" rel="category tag">Running and Triathlon</a>, <a href="http://girlintheraw.com/category/travel/" rel="category tag">Travel</a></span>											<span class="entry-separator"> / </span>											<span class="entry-date">November 27, 2015</span>										</div>
									</footer>

									<header class="entry-header">
										<h1 class="entry-title">Rock and Roll Marathon Las Vegas 2015</h1>										<span class="entry-author">by <a href="http://girlintheraw.com/author/matea/">matea</a></span>									</header>

                                    
									<div class="entry-content clearfix">
										<h4 id="i-rocked-vegas-at-night">I rocked Vegas at night!</h4>
<p>Wow, was that an experience or what? I have never been to Vegas before, but I do consider it one of those ‘must-visit-once-in-a-lifetime’ kinda places. Considering I don’t drink, gamble, go to strip clubs, or whatever else people do in Vegas, I figured running a race there must be the best way to go! When I heard <span style="text-decoration: underline;">Rock and Roll races</span> are closing The Strip down for it’s runners, I figured I found my chance!</p>
<h5 id="traveling-runners">TRAVELING RUNNERS</h5>
<p>Before I recap my crazy racing experience, allow me to make a quick note – <span style="text-decoration: underline;">I am terrible at planning races in advance</span>! Scratch that, I’m terrible at planning anything in advance. Not because I don’t know how to, but because my life changes so much, by the time the event rolls around, I might be in a completely different situation! Hence, I have commitment issues.</p>
<p>This was the type of an event to plan for in advance. We booked our hotel and flight in April, when I was happily living in San Francisco Bay. But noo… Can’t stay in one place, now can we? By November, ups – I’m living in North Carolina. So there were slight logistical issues regarding my flight, and I basically had to cancel and book a new flight couple of weeks before the race. Just makes me wonder why I even try? I could have done that from the get-go, waiting till the last minute to buy my flight.</p>
<p>We arrived on Saturday afternoon, the race was Sunday evening. We took a quick stop in Salt Lake City, Utah. As we had a few hours, Acyuta and I figured we should take advantage, so we rented a car and drove to downtown. SLC is beautiful! It was our first time, and i have to say I’m impressed. I haven’t seen many US cities with such beautiful architecture, and it was very clean and organized as well.</p>
<p><img alt="" src="/wp-content/uploads/2018/07/dacnerslc.jpg"> Dancing in front of Temple Square, SLC[/caption]</p>
<p>We took some yoga pictures (but of course), walked around quite a bit, and ate some acai bowls with fresh squeezed green juice. It was all in good fun, until we got a flat tire on our way back to the airport!!! Adventure begins here… Luckily, we had those extra 30 minutes to spare, fixing the tire and all (and I helped, yes I did!), and we made it to our flight on time. I am so happy to be finally growing up, and learning how to head to places EARLY, not even on time! It really pays off in situations like these. I used to be late everywhere, every day, all the time.</p>
<p>….and after another quick flight, we finally made it to Vegas!!!</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas16.jpg"></p>
<h6 id="the-expo">THE EXPO</h6>
<p>The day before the race in just one big blur for me. We met up with my husband’s cousin and her husband, they flew in from Colombia to run/party with us! It was Natalia’s first half marathon, and her husbands first 10k, and race ever! Party all around..</p>
<p>We arrived at 3pm, and according to my (what will be proven false) info, the expo closed at 5!As you probably know, one has to pick up their own bib number, in person, at the expo, otherwise no race for you. There was a lot of running around, hoping to make it on time, a lot of runners every-freakin’-where we went, including super packed tram, but we finally made it to the expo at about 4:50 – only to find out they close at 7pm!</p>
<p>The expo itself was great! With over 30k runners comes an expo to match – it was huge. So many shops, so many people, I could just feel the excitement in the air. We walked around, sampled nutrition, bought some essentials (I got racing gloves, and it was an excellent move as the race was chilly!). We stayed all the way to closing time, and then headed over to Slice of Vegas pizzeria for dinner, as they were the only place with vegan options around.</p>
<p>All in all, my Vegas adventure kicked off with a bang! I ended up logging aver 3k steps on my Jawbone on Saturday, one thing you DON’T WANT TO DO BEFORE THE RACE. I woke up in NC, spend midday in Utah, and afternoon in Vegas, my day had 27h. Needless to say, we were all tired.</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas1.jpg"> Nathalia and I ready to rock[/caption]</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas2.jpg"> Fueling up pre-race with vegan goodies[/caption]</p>
<h6 id="pre-race-prep">PRE-RACE PREP</h6>
<p>I woke up feeling tired and sluggish from the day before. I tried to eat as healthy as possible, so we took off to Whole foods for some juice, coconut water, steel cut oatmeal, lentil soup, and the likes. I really felt a bit off, so we went to a chiropractor to get adjusted! I am a member of The Joint, they have offices all over US, and the doctor in Vegas was amazing. Although I wouldn’t recommend doing this on the morning of your race, it really helped me feel better.</p>
<p>I grabbed food to go at WFM, and after a few last minute errands, we came back to the hotel to relax. Unfortunately for me, I somehow grabbed a plate full of <span style="text-decoration: underline;"><strong>SPICY FOOD!</strong></span><strong> </strong></p>
<p>I’m not sure how that happened, I got noodles, veggies and similar form the salad bar. I normally can’t handle spicy, what to speak of pre-race, so I tried to eat as little of it as possible, fueling up on crackers and salad. As it was a night race, I knew my digestion might come haunt me later, and it surely did, despite my best efforts to avoid anything that might upset it.</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas6.jpg"> Enjoying the night view from my room[/caption]</p>
<h3 id="rock-and-roll-marathon-las-vegas-the-start-line">ROCK AND ROLL MARATHON LAS VEGAS – the start line</h3>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas3-e1448382063984.jpg"> View from my hotel window – thousands of runners at the pre race concert[/caption]</p>
<p><img alt="" src="/wp-content/uploads/2018/07/rnrlv2.jpg"> The concert by kid rock, source: runrockandroll.com[/caption]</p>
<p>I had an amazing luck of having a front row (or better yet, balcony) seat to the race right from the comfort of my hotel room. I saw them prepping the stage hours in advance, and runners began flowing in at around 2pm. Race began at 4:30, but my corral 22 wasn’t supposed to take off till about 5pm, so I enjoyed my relaxation time for as long as possible. And by relaxation time, I mean getting more and more excited by the minute, while my husband slept soundly by my side. I just couldn’t control my race jitters.</p>
<p>This was my <span style="text-decoration: underline;"><strong>2nd full marathon</strong></span>, first one being all the way back in October of 2013 in RnR Denver. I ran a 21 miler, in Big Sur, last year, other than that all my races have been halves. Rock and Roll marathon series closes The Strip for us, so they have a very strict 5h cut-off time. I finished my first marathon in 4:56, on an obviously very hilly, highly elevated, and cold course. That was about 30min slower than what I anticipated back in 2013. Considering Vegas was pretty flat, I thought I should be safe, and should PR – however, I don’t think I am actually as fit as I was comparing to 2013. Plus, I missed about 2-3 long runs in the last few weeks because of the move. Taking our cross-country move and everything into consideration, I just wasn’t feeling all that confident. As the race drew near, I was getting <span style="text-decoration: underline;"><strong>more and more</strong> <strong>nervous</strong></span>!</p>
<p>The adventure simply continued as we were making our way to the start line. I was observing the crowd from my window, and I saw packs and packs of people walking up the street, wondering what the heck is going on? We thought they might have let walkers start first. It turned out to be just regular runners, making their way to the start line. I imagine there were people standing there a good 30min or more before they started running. Not us though, we had time.. well, as it turns out, not as much!</p>
<p>Natalia went to drop of her hubby at the 10k start (different place than half and full start line), and came back right around 4:30. We got nice and ready, grabbed our gear check bags, and headed out. We got hit by <strong><u>crazy wind, </u></strong>and a nice amount of people as we stepped outside our hotel. When we inquired about gear check, a surprised response was – noo, they took the gear check away at 4pm! Ups.. so Acyuta, nice as he is, had to go back to the hotel to drop off our bags, which also meant no warm clothes at the finish line, while Nathalia and I made our way to the start.</p>
<p>The street right in front of us was filled with runners racing northbound, and we had to make our way through them to get to the other side, where the start line crowd was slowly walking/pushing it’s way to start running southbound (there was a turnaround point at about 1k-1m mark). Once we made it though the fence, and slowly pushed our way through with no start line in sight, we finally heard the announcer calling corral 25! We were 3 corrals behind, and my nerves started acting up as I remembered the 5h cut off time. I could tell by the bib numbers and the folk around me that I was definitely in the wrong crowd and needed to move up soon if I wanted to finish my marathon.</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas17-e1448391466929.jpg"> It’s not a party without a blurry start-line selfie[/caption]</p>
<p>We gave up on pushing through, jumped out of the fenced area, ran towards the very very start line, and then tried to make our way back in. There were no open entrances, so I pulled a yoga/limbo move and squeezed myself through the fence bars! There are no words to describe the situation, it was all crazy, wild, hilarious and exhilarating. Nathalia couldn’t believe it, and she just stood there shocked. This was one of the very few situations that make me feel lucky to be tiny. And luckily, Nathalia is the same size as me so I encouraged her to push through, and she made it! Just in time for corral 26…. <span style="text-decoration: underline;"><strong>AND OFF WE WENT!</strong></span></p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas15.jpg"> A true running festival – wish i could have seen it from this perspective[/caption]</p>
<h3 id="rock-and-roll-marathon-las-vegas-the-race">Rock and Roll Marathon Las Vegas – the race</h3>
<p>Nathalia and i ran the first few miles together, and it was great to have someone to pace yourself with. We made our way through the crows, trying to find our corral/equal pace people. As I mentioned before, it was super windy, chilly, and it started to rain on top! I had my gloves on, a bandana to cover my ears, a long sleeve shirt and 3/4 tights, and with all the people around me, I wasn’t too cold. After some time, I told her to take off, because I knew I couldn’t maintain the pace for the whole 26.2, and I also didn’t want to use up all my energy up front.</p>
<p>The Strip was awesome! I unfortunately didn’t take any pictures while running, because I didn’t feel like wasting any time/energy, or pulling my phone out of my Level belt (now known as Flip). The music was great, a lot of electro, which I assume some didn’t like or expect as it is a Rock and Roll event, but I loved it. It got me all pumped up and all the people on the Strip were super excited, cheering and all.</p>
<p>They had a massive wedding at mile 3, 25 couples exchanged vows just as I was passing by, and I saw some of them later on the course. Ladies wore veils and white running skirts, and some guys had tuxedo jackets. It was all just so wild and a lot of fun.</p>
<p><span style="text-decoration: underline;"><strong>Miles 1 – 10</strong></span> passed quick and easy. I enjoyed all the lights, the people and the music on the strip. The rain backed off, and I was slowly drying up. Right before the half and full marathon split at mile 10, I thought to myself whether I should just change my mind and go for the half instead. I knew Acyuta is probably going to, as he had to start even later, ran even less then me during our move period, and had some knee issues and injuries he was dealing with. But I decided to stick with it, now allowing my fears to scare me off. My plan was to go as far as I can and see how it goes. Anyways, I was already pacing my first 10 miles for the full marathon, and I knew if I finished the half, it would be in a disappointing time. Since that already happened at my last race in <a href="http://girlintheraw.com/san-jose-rock-and-roll-half-marathon/">San Jose RnR Half Marathon</a>, I really didn’t want to go through that again.</p>
<p><span style="text-decoration: underline;"><strong>Miles 10-13</strong></span>. As soon as we turned into the full course, the crowd cleared up. As far as I remember, there were only about 3.6k runners doing the full. I still had enough people around me, which I like, but it wasn’t as crowded and it just felt perfect – I wasn’t alone, nor was I overwhelmed. The course turned a tad hilly, and the music winded down as well, and I knew that was going to happen. Unfortunately, the organizers pay more attention to the half course, as it’s the popular one. We did have a nice big disco station right around mile 11, which we ran in a circle in some kind of an industrial zone space. It was fun.</p>
<p>I started having worse and worse cramps, my belly really hurt. At one point I just decided I will have to stop to go to the bathroom. After what felt like forever, I finally spotted a port-a-potty. It was across the street, a bit off the course. I didn’t want to lose time, but I really felt crappy (pun intended). The joke was on me though – I didn’t go. At all. The cramps were just some kind of a runner’s nightmare illusion. So I lost at least 5 minutes for nothing.</p>
<p>After exciting the port-a-potty, I finally hit the half marathon check point, which was kind of disappointing, because according to my watch and calculations, I thought I passed it already (though I noticed I didn’t cross any time chip mats, so I knew something fishy was up).</p>
<p><span style="text-decoration: underline;"><strong>Miles 13-20</strong></span>. I can’t recall much from this nice and long time period. We ran some hills, finally came to a turnaround point, at which I could see the whole city, the Vegas Strip lights, in the distance. It was very nice, we were in a secluded and quiet area out of town. There were few spectators and almost no music stops. I had miscalculated my 30k point as well, waiting for that timing mat to come and come..  But there was no 30k check-point, but rather a 20 mile one, which is just a tad longer. When I finally hit the 20 mile point, a lot of emotions came rushing and rushing in. That was the moment I felt like I was really <span style="text-decoration: underline;"><strong>going to make it!!! </strong></span></p>
<p>I started tearing up – it happens to me a few times during a race, even on a training run from time to time. A full marathon is definitely a special occasion. I told myself earlier, if you make it to 30k, you will finish the race. It was at about 3h and a half or so. I was running slower and slower, but except for the potty break, and the water stations, <span style="text-decoration: underline;"><strong>I did not stop and did not walk.</strong></span> I was very happy and very proud of that, even if it meant running a 12 minute mile on certain parts of the course.</p>
<p><span style="text-decoration: underline;"><strong>Miles 20-23</strong></span> didn’t go by fast, but they were tolerable. I remember it was getting darker and darker, we were making some funny turns, I just kept on waiting to see the Strip again. People started stopping and walking. I saw a guy on the floor, cramped up and with that good old painful look on his face. A girl was trying to stretch his legs. I just kept on running, remembering my first marathon experience. I knew that if I stopped, there was a good chance I wouldn’t start running again. We came back to that disco industrial space, we didn’t have to do as many loops in it this time around. The music was loud and the crazy disco lights were already starting to affect me. I didn’t listen to my music for the first half of the race, but in the second half I popped my headphones in and enjoyed my super funky mix playlist (I’m talking everything from Madonna to Linking Park to No Doubt to Calvin Harris).</p>
<p>I looked at my watch, and was at 4h and something. At that point<span style="text-decoration: underline;"><strong> I realized I won’t make my 4:30-4:35min goal</strong></span>, as I had slowed down too much in the last 6 miles or so. But I didn’t want to get too discouraged. Luckily, those damn cramps actually got a tad better, it was only my legs, mainly the knees and quads that were hurting.</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas19.jpg"></p>
<p><span style="text-decoration: underline;"><strong>Miles 23-26.2.</strong></span> The Strip could not have come sooner! When I finally saw the lights, hotels and chapels again, I was so happy. As I was turning into the Las Vegas Blvd. I saw<span style="text-decoration: underline;"><strong> Acyuta at the corner waiting for me!!!</strong></span> I don’t know who was more shocked, me or him! I was very happy, and I tried not to cry. He really saved me. We began running together, right at the point where it started to get really chilly and crazy windy! At some points I actually ran behind him, and he had his finishers blanket on, which was flowing on the wind and into my face. Those last three miles feel like the longest ever. But it was great not to be alone, and on the Strip again. There was music and the party seemed to have still been going on. There was the coolest girl DJ right at mile 24, and what I really liked was the fact they had 2 speaker stations for most performers, spaced apart. That way, you would run and pass the stage with a performer, and after a minute or two pass the second speaker playing the same music! You get to enjoy the music longer, and different styles and performers don’t overlap as much.</p>
<p>My Garmin announced 26.2 miles, but the finish line was nowhere to be seen. We kept on running, and I simply couldn’t believe I wasn’t stopping at all. I was at a very slow pace at that point, but man, I wasn’t walking or stopping!!! Acyuta kept on repeating “You’re doing great, you’re almost there”, and finally, that finish line appeared. I crossed at 4:52, only 4min faster than my first, very hilly and challenging marathon, and about 20min slower than what I had hoped for. But boy, was I happy!</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas18.jpg"> Happy runners[/caption]</p>
<p><strong>I FINISHED!!!!!!!!!</strong></p>
<p>My legs were killing me! I tried to walk it off, I tried to squat and stretch. At some point, after passing the longest finish line in history (it’s like half a mile), getting my medal, some water, and food, I sat down in the middle of the street. The volunteers were super attentive and immediately came to check if I was ok.</p>
<p>I was emotional, talking to Acyuta about my and his experience, and all of a sudden, I got crazy cold. I started to shiver, and we realized we forgot to bring our metro passes – how are we going to make it back to the hotel!? It was about 2-3 miles away, at that point an eternity. We stirred into the Bellagio to warm up. There were tons of runners everywhere, and the security definitely wasn’t happy – they kept on lifting us up as we were sitting on the floor all over the  place. Nathalia and her husband were super nice, and eventually came to pick us up with the car, but not before we walked around all lost and confused for a good amount of time.</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas8-e1448594835640.jpg"> If I look a bit pale, it’s cuz I just ran a marathon..[/caption]</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas7.jpg"> Acyuta’s hat says: I love running, just not while doing it. Feels about right[/caption]</p>
<p>After the race, I came back to the hotel, took a nice hot bath, and then headed out to party! I am not kidding. We had no real food, there was no other choice. I finished at 10pm, and it was midnight by the time we sat down to eat. But that’s Vegas baby! Acyuta and I shared teriyaki rice and quinoa salad, it was satisfactory. We listened to a live rock band performing Led Zeppelin, which got me in the mood immediately.</p>
<h6 id="all-in-all-it-was-the-craziest-running-party-ive-even-been-to">All in all, it was the craziest running party I’ve even been to.</h6>
<p><strong>RECAP</strong>: I progressively slowed down during the race. I really slowed down in the second half, maybe after the 10 mile mark. 5k was at 28:53, that’s 9:18 pace. Even with the port-a-potty stop, my 1st half was 2:15, or 10:23 pace – big slow down already, but the stop didn’t help my average, which was probably still in the 9 min/mile range.</p>
<p>I crossed 20 miles at 3;37, or 10:54 pace, and finished at 4:52:20, or 11:09 pace overall. That’s all chip, not Garmin time, according to which the race was about 1k longer. That means I truly messed up my time in the last 6-9 miles, which is all, to be honest, the result of my training and not having enough long runs. Which also means that, hopefully, I’ll know how to fix it next time!</p>
<p><img alt="The medal spins! " src="http://girlintheraw.com/wp-content/uploads/2015/11/vegasmedal.gif">](http://girlintheraw.com/wp-content/uploads/2015/11/vegasmedal.gif) The medal spins![/caption]</p>
<p>Here’s a quick run down of what I did to recover:</p>
<ol>
<li>Sleep!!! We went to sleep really late, so stayed in bed the next morning, stretching, resting, recovering.</li>
<li>Hot Baths. I don’t like ice baths, and unless I’m not injured or swollen, I go for hot instead.</li>
<li>Bath soak. I got a Lush bath bomb and soaked my legs twice. Epson salts and essential oils work best if you are making a home version.</li>
<li>Food. No explanation necessary. I tried to find a balance between healthy and fueling, which was a challenge in Vegas. I got some vegan pizza the next day, and a big salad too.</li>
<li>Walked it off. We went to a Cirque du Soleil show, walked all the way north the Strip, in areas we didn’t explore yet.</li>
<li>Spa!!! My favorite thing ever. Mandalay Bay, the hotel we stayed in, which I loved, had an amazing spa, and the last day, Tuesday, I finally treated myself to a full afternoon. I went to the hot tub, sauna, steam room, and really recovered best there. The soreness in my legs went almost completely away after that.</li>
<li>Almost forgot – do some Yoga! Always the best choice.<br>
Here are a few pictures of Vegas:</li>
</ol>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas11.jpg">:</p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas20-e1448391452769.jpg"></p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas21.jpg"></p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas13.jpg"></p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas14-e1448321967278.jpg"></p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas22.jpg"></p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas5.jpg"></p>
<p><img alt="" src="/wp-content/uploads/2018/07/vegas10-e1448596699811.jpg"></p>
<p>CONCLUSION: This was a real fun experience, and I am seriously considering repeating it next year, but probably with the half marathon course.</p>
<p>Many pros to this race: Besides it being very fun overall, and there are tons and tons of people running (if that’s your thing), staying in Vegas itself is easy. The hotels are relatively cheap, they are very nice with great amenities. It’s easy to get to The Strip from the airport (we used Lyft, Uber works in the city but isn’t allowed to the airport for some reason). There are free trams that connect certain hotels, and payed metro that connects most of the Strip, so you don’t need a car. If you do have a car, going to places like Whole Foods or other shopping is easy as well.</p>
<h6 id="lessons-learned">LESSONS LEARNED:</h6>
<p>Running at night is a beast in it’s own, a totally different story than morning races, and I expected that. Luckily I trained in the afternoons or after eating lunch, and I’ve run at night in Ragnar and a 5k some time ago. But you never know how the body will react, and my belly definitely acted up. Best is to relax as much as possible, go with the flow, and most importantly, just ENJOY THE RIDE (RUN)!</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
																			</div>

									<footer class="entry-meta">
										<h3 class="section-title">Tags</h3><ul><li class="list-item-separators"><a href="http://girlintheraw.com/tag/las-vegas/" rel="tag">Las Vegas</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/marathon/" rel="tag">Marathon</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/racing/" rel="tag">Racing</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/rock-and-roll-marathon/" rel="tag">Rock and Roll Marathon</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/running/" rel="tag">Running</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/travel/" rel="tag">Travel</a></li></ul>									</footer>

								
	<nav class="navigation post-navigation" role="navigation" aria-label="Posts">
		<h2 class="screen-reader-text">Post navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="http://girlintheraw.com/2015/11/07/hemp-hearts-smoothie-recipe-and-product-giveaway/" rel="prev"><i class="fa fa-long-arrow-left"></i> Hemp Hearts Smoothie Recipe and Product Giveaway</a></div><div class="nav-next"><a href="http://girlintheraw.com/2015/12/05/holiday-apple-oatmeal-recipe/" rel="next">Holiday Apple Oatmeal Recipe <i class="fa fa-long-arrow-right"></i></a></div></div>
	</nav>
<div id="disqus_thread"></div>
						</article>
					</div>

					
<div class="widget-area widget-area-sidebar col-md-3 col-xs-12" role="complementary">
				<div class="sidebar-default">
				<div id="search-2" class="default-widget widget widget_search"><form role="search" method="get" class="search-form" action="http://girlintheraw.com/">
	<input type="search" class="search-field" value="" name="s" placeholder="Search">
	<button type="submit" class="search-submit">
		<i class="fa fa-search"></i>		<span>Search</span>
	</button>
</form></div><div id="about_me_widget-2" class="default-widget widget the_about_me_widget"><h3 class="widget-title">About Me</h3><div class="widget_image"><img src="/wp-content/uploads/2019/03/IMG_9814.jpg" alt="About Me"></div>Hi! My name is Matea, and welcome to my blog. I share my thoughts about everything from vegan food to yoga to travel, all with a purpose to create a community of people looking to uplift each other while making this world a better place. Do I sound like a cheesy millennial? I guess I can live with that. I really do mean it, though. I teach yoga and run my business Hari OM Yoga & Wellness in gorgeous Costa Rica. Come see me sometime.</div>		<div id="recent-posts-2" class="default-widget widget widget_recent_entries">		<h3 class="widget-title">Recent Posts</h3>		<ul>
											<li>
					<a href="http://girlintheraw.com/2020/01/26/birthday-reflections/">Birthday Reflections</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/06/04/nuzest-plant-based-protein-powder-review-with-smoothie-recipe/">Nuzest plant-based protein powder review with Smoothie recipe</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/03/26/race-recap-rock-n-roll-marathon-medellin/">Race recap: Rock ‘n’ Roll Marathon Medellin</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/06/25/ironman-70-3-costa-rica-2018-race-recap/">Ironman 70.3 Costa Rica 2018 race recap</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/02/18/yoga-and-ayurveda-teacher-training-in-costa-rica/">Yoga and Ayurveda teacher training in Costa Rica</a>
									</li>
					</ul>
		</div><div id="categories-2" class="default-widget widget widget_categories"><h3 class="widget-title">Categories</h3>		<ul>
				<li class="cat-item cat-item-143"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a>
</li>
	<li class="cat-item cat-item-144"><a href="http://girlintheraw.com/category/dessert/">Dessert</a>
</li>
	<li class="cat-item cat-item-145"><a href="http://girlintheraw.com/category/entrees/">Entrees</a>
</li>
	<li class="cat-item cat-item-159"><a href="http://girlintheraw.com/category/fashion/">Fashion</a>
</li>
	<li class="cat-item cat-item-146"><a href="http://girlintheraw.com/category/fitness/">Fitness</a>
</li>
	<li class="cat-item cat-item-147"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a>
</li>
	<li class="cat-item cat-item-148"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a>
</li>
	<li class="cat-item cat-item-149"><a href="http://girlintheraw.com/category/lifestyle/">Lifestyle</a>
</li>
	<li class="cat-item cat-item-150"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a>
</li>
	<li class="cat-item cat-item-161"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a>
</li>
	<li class="cat-item cat-item-151"><a href="http://girlintheraw.com/category/recipes/">Recipes</a>
</li>
	<li class="cat-item cat-item-152"><a href="http://girlintheraw.com/category/reviews/">Reviews</a>
</li>
	<li class="cat-item cat-item-153"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a>
</li>
	<li class="cat-item cat-item-154"><a href="http://girlintheraw.com/category/salad/">Salad</a>
</li>
	<li class="cat-item cat-item-156"><a href="http://girlintheraw.com/category/snacks/">Snacks</a>
</li>
	<li class="cat-item cat-item-157"><a href="http://girlintheraw.com/category/travel/">Travel</a>
</li>
	<li class="cat-item cat-item-163"><a href="http://girlintheraw.com/category/wellness/">Wellness</a>
</li>
	<li class="cat-item cat-item-158"><a href="http://girlintheraw.com/category/yoga/">Yoga</a>
</li>
		</ul>
			</div><div id="meta-2" class="default-widget widget widget_meta"><h3 class="widget-title">Meta</h3>			<ul>
						<li><a href="http://girlintheraw.com/wp-login.php">Log in</a></li>
			<li><a href="http://girlintheraw.com/feed/">Entries feed</a></li>
			<li><a href="http://girlintheraw.com/comments/feed/">Comments feed</a></li>
			<li><a href="https://wordpress.org/">WordPress.org</a></li>			</ul>
			</div>			</div></div>
				</div>
		</div>
	</main>
</div>

	<div class="footer footer-columns" role="contentinfo">
		<div class="default-background-color">
			<div class="wrapper">
			

    <div class="widget-area widget-area-footer widget-area-footer-columns" role="complementary">

        
        <div class="row footer-columns footer-columns-5">

                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-1">
                        <div class="default-widget widget widget_recent_comments example-footer-sidebar"><h3 class="widget-title">Recent Comments</h3><ul id="recentcomments"></ul></div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-2">
                        <div class="default-widget widget widget_nav_menu menu example-footer-sidebar"><h3 class="widget-title">Pages</h3>		<ul>
			<li class="page_item page-item-1017"><a href="http://girlintheraw.com/ayurveda-training/">Ayurveda training</a></li>
<li class="page_item page-item-1002"><a href="http://girlintheraw.com/yoga-and-ayurveda-200hr-teacher-training/">Yoga and Ayurveda 200hr Teacher Training</a></li>
		</ul>
			</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-3">
                        <div class="default-widget widget widget_categories example-footer-sidebar"><h3 class="widget-title">Categories</h3>		<ul>
				<li class="cat-item cat-item-143"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a>
</li>
	<li class="cat-item cat-item-144"><a href="http://girlintheraw.com/category/dessert/">Dessert</a>
</li>
	<li class="cat-item cat-item-145"><a href="http://girlintheraw.com/category/entrees/">Entrees</a>
</li>
	<li class="cat-item cat-item-159"><a href="http://girlintheraw.com/category/fashion/">Fashion</a>
</li>
	<li class="cat-item cat-item-146"><a href="http://girlintheraw.com/category/fitness/">Fitness</a>
</li>
	<li class="cat-item cat-item-147"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a>
</li>
	<li class="cat-item cat-item-148"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a>
</li>
	<li class="cat-item cat-item-149"><a href="http://girlintheraw.com/category/lifestyle/">Lifestyle</a>
</li>
	<li class="cat-item cat-item-150"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a>
</li>
	<li class="cat-item cat-item-161"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a>
</li>
	<li class="cat-item cat-item-151"><a href="http://girlintheraw.com/category/recipes/">Recipes</a>
</li>
	<li class="cat-item cat-item-152"><a href="http://girlintheraw.com/category/reviews/">Reviews</a>
</li>
	<li class="cat-item cat-item-153"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a>
</li>
	<li class="cat-item cat-item-154"><a href="http://girlintheraw.com/category/salad/">Salad</a>
</li>
	<li class="cat-item cat-item-156"><a href="http://girlintheraw.com/category/snacks/">Snacks</a>
</li>
	<li class="cat-item cat-item-157"><a href="http://girlintheraw.com/category/travel/">Travel</a>
</li>
	<li class="cat-item cat-item-163"><a href="http://girlintheraw.com/category/wellness/">Wellness</a>
</li>
	<li class="cat-item cat-item-158"><a href="http://girlintheraw.com/category/yoga/">Yoga</a>
</li>
		</ul>
			</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-4">
                        		<div class="default-widget widget widget_recent_entries example-footer-sidebar">		<h3 class="widget-title">Recent Posts</h3>		<ul>
											<li>
					<a href="http://girlintheraw.com/2020/01/26/birthday-reflections/">Birthday Reflections</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/06/04/nuzest-plant-based-protein-powder-review-with-smoothie-recipe/">Nuzest plant-based protein powder review with Smoothie recipe</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/03/26/race-recap-rock-n-roll-marathon-medellin/">Race recap: Rock ‘n’ Roll Marathon Medellin</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/06/25/ironman-70-3-costa-rica-2018-race-recap/">Ironman 70.3 Costa Rica 2018 race recap</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/02/18/yoga-and-ayurveda-teacher-training-in-costa-rica/">Yoga and Ayurveda teacher training in Costa Rica</a>
									</li>
					</ul>
		</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-5">
                        <div class="default-widget widget widget_archive example-footer-sidebar"><h3 class="widget-title">Archives</h3>		<ul>
				<li><a href="http://girlintheraw.com/2020/01/">January 2020</a></li>
	<li><a href="http://girlintheraw.com/2019/06/">June 2019</a></li>
	<li><a href="http://girlintheraw.com/2019/03/">March 2019</a></li>
	<li><a href="http://girlintheraw.com/2018/06/">June 2018</a></li>
	<li><a href="http://girlintheraw.com/2018/02/">February 2018</a></li>
	<li><a href="http://girlintheraw.com/2018/01/">January 2018</a></li>
	<li><a href="http://girlintheraw.com/2017/11/">November 2017</a></li>
	<li><a href="http://girlintheraw.com/2017/06/">June 2017</a></li>
	<li><a href="http://girlintheraw.com/2017/03/">March 2017</a></li>
	<li><a href="http://girlintheraw.com/2016/12/">December 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/11/">November 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/10/">October 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/09/">September 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/08/">August 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/07/">July 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/06/">June 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/04/">April 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/03/">March 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/02/">February 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/01/">January 2016</a></li>
	<li><a href="http://girlintheraw.com/2015/12/">December 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/11/">November 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/10/">October 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/09/">September 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/08/">August 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/07/">July 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/06/">June 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/05/">May 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/04/">April 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/02/">February 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/01/">January 2015</a></li>
	<li><a href="http://girlintheraw.com/2014/12/">December 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/11/">November 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/10/">October 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/07/">July 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/06/">June 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/03/">March 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/01/">January 2014</a></li>
	<li><a href="http://girlintheraw.com/2013/09/">September 2013</a></li>
	<li><a href="http://girlintheraw.com/2013/08/">August 2013</a></li>
	<li><a href="http://girlintheraw.com/2013/06/">June 2013</a></li>
		</ul>
			</div>                    </div>
            
        </div>

	</div>
    
    

				<div class="footer-copyrights">
					<ul>
						<li class="credits">
                            <a href="https://www.lyrathemes.com/elara/" target="_blank">Elara</a> by LyraThemes                        </li>

						<li>
															Made by <a href="https://www.lyrathemes.com/elara/">LyraThemes.com</a>													</li>
					</ul>
				</div>

			</div>
		</div>
	</div>

<script type="text/javascript">
/* <![CDATA[ */
var countVars = {"disqusShortname":"girlintheraw"};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/disqus-comment-system/public/js/comment_count.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var embedVars = {"disqusConfig":{"integration":"wordpress 3.0.17"},"disqusIdentifier":"324 http:\/\/localhost\/?p=324","disqusShortname":"girlintheraw","disqusTitle":"Rock and Roll Marathon Las Vegas 2015","disqusUrl":"http:\/\/girlintheraw.com\/2015\/11\/27\/rock-and-roll-marathon-las-vegas-2015\/","postId":"324"};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/disqus-comment-system/public/js/comment_embed.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.smartmenus.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.smartmenus.bootstrap.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/slick.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/elara.min.js"></script>
</body>
</html>
