<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Nuzest plant-based protein powder review with Smoothie recipe – Girl In The Raw</title>
<link rel="dns-prefetch" href="//f68108fc-8969-11e8-bffa-468318759c16.app.getshifter.io">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link href="https://fonts.gstatic.com" crossorigin rel="preconnect">
<link rel="stylesheet" id="wp-block-library-css" href="http://girlintheraw.com/wp-includes/css/dist/block-library/style.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elara-fonts-css" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600%7CPlayfair+Display%3A400%2C400i%2C700%2C700i%2C900&subset=latin%2Clatin-ext" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" id="smartmenus-bootstrap-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/jquery.smartmenus.bootstrap.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="slick-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/slick.min.css" type="text/css" media="all">
<link rel="stylesheet" id="slick-theme-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/slick-theme.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elara-style-css" href="http://girlintheraw.com/wp-content/themes/elara/style.css" type="text/css" media="all">
<link rel="stylesheet" id="algolia-autocomplete-css" href="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/css/algolia-autocomplete.css" type="text/css" media="screen">


<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/jquery/jquery.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/underscore.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpUtilSettings = {"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/wp-util.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/algoliasearch/algoliasearch.jquery.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/autocomplete.js/autocomplete.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/autocomplete-noconflict.js"></script>




		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-57409707-1', 'auto');
			ga('send', 'pageview');
		</script>

	<script type="text/javascript">var algolia = {"debug":false,"application_id":"SMYR92R28O","search_api_key":"769851a58ff5b5c6893d8d20ce320300","powered_by_enabled":true,"query":"","autocomplete":{"sources":[{"index_id":"posts_post","index_name":"wp_posts_post","label":"Posts","admin_name":"Posts","position":10,"max_suggestions":5,"tmpl_suggestion":"autocomplete-post-suggestion","enabled":true}],"input_selector":"input[name='s']:not('.no-autocomplete')"},"indices":{"searchable_posts":{"name":"wp_searchable_posts","id":"searchable_posts","enabled":true,"replicas":[]},"posts_post":{"name":"wp_posts_post","id":"posts_post","enabled":true,"replicas":[]}}};</script><link rel="icon" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-32x32.png" sizes="32x32">
<link rel="icon" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-180x180.png">
<meta name="msapplication-TileImage" content="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-270x270.png">
		<style type="text/css" id="wp-custom-css">
			.search-field.aa-input {
	min-width: 255px;
}		</style>
		<style id="kirki-inline-styles"></style><script type="text/html" id="tmpl-autocomplete-header">
  <div class="autocomplete-header">
	<div class="autocomplete-header-title">{{{ data.label }}}
	<div class="clear">
  
</script>

<script type="text/html" id="tmpl-autocomplete-post-suggestion">
  <a class="suggestion-link" href="{{ data.permalink }}" title="{{ data.post_title }}">
	<# if ( data.images.thumbnail ) { #>
	  <img class="suggestion-post-thumbnail" src="{{ data.images.thumbnail.url }}" alt="{{ data.post_title }}">
	  <# } #>
		<div class="suggestion-post-attributes">
		  <span class="suggestion-post-title">{{{ data._highlightResult.post_title.value }}}
		  <# if ( data._snippetResult['content'] ) { #>
			<span class="suggestion-post-content">{{{ data._snippetResult['content'].value }}}
			<# } #>
		
  
</script>

<script type="text/html" id="tmpl-autocomplete-term-suggestion">
  <a class="suggestion-link" href="{{ data.permalink }}" title="{{ data.name }}">
	<svg viewBox="0 0 21 21" width="21" height="21">
	  <svg width="21" height="21" viewBox="0 0 21 21">
		<path
			d="M4.662 8.72l-1.23 1.23c-.682.682-.68 1.792.004 2.477l5.135 5.135c.7.693 1.8.688 2.48.005l1.23-1.23 5.35-5.346c.31-.31.54-.92.51-1.36l-.32-4.29c-.09-1.09-1.05-2.06-2.15-2.14l-4.3-.33c-.43-.03-1.05.2-1.36.51l-.79.8-2.27 2.28-2.28 2.27zm9.826-.98c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25-1.25.56-1.25 1.25.56 1.25 1.25 1.25z"
			fill-rule="evenodd">
	  
	
	<span class="suggestion-post-title">{{{ data._highlightResult.name.value }}}
  
</script>

<script type="text/html" id="tmpl-autocomplete-user-suggestion">
  <a class="suggestion-link user-suggestion-link" href="{{ data.posts_url }}" title="{{ data.display_name }}">
	<# if ( data.avatar_url ) { #>
	  <img class="suggestion-user-thumbnail" src="{{ data.avatar_url }}" alt="{{ data.display_name }}">
	  <# } #>

		<span class="suggestion-post-title">{{{ data._highlightResult.display_name.value }}}
  
</script>

<script type="text/html" id="tmpl-autocomplete-footer">
  <div class="autocomplete-footer">
	<div class="autocomplete-footer-branding">
	  <a href="#" class="algolia-powered-by-link" title="Algolia">
		<svg width="130" viewBox="0 0 130 18" xmlns="http://www.w3.org/2000/svg">
		  <title>Search by Algolia
		  <defs>
			<linearGradient x1="-36.868%" y1="134.936%" x2="129.432%" y2="-27.7%" id="a">
			  <stop stop-color="#00AEFF" offset="0%"/>
			  <stop stop-color="#3369E7" offset="100%"/>
			
		  
		  <g fill="none" fill-rule="evenodd">
			<path
				d="M59.399.022h13.299a2.372 2.372 0 0 1 2.377 2.364V15.62a2.372 2.372 0 0 1-2.377 2.364H59.399a2.372 2.372 0 0 1-2.377-2.364V2.381A2.368 2.368 0 0 1 59.399.022z"
				fill="url(#a)"/>
			<path
				d="M66.257 4.56c-2.815 0-5.1 2.272-5.1 5.078 0 2.806 2.284 5.072 5.1 5.072 2.815 0 5.1-2.272 5.1-5.078 0-2.806-2.279-5.072-5.1-5.072zm0 8.652c-1.983 0-3.593-1.602-3.593-3.574 0-1.972 1.61-3.574 3.593-3.574 1.983 0 3.593 1.602 3.593 3.574a3.582 3.582 0 0 1-3.593 3.574zm0-6.418v2.664c0 .076.082.131.153.093l2.377-1.226c.055-.027.071-.093.044-.147a2.96 2.96 0 0 0-2.465-1.487c-.055 0-.11.044-.11.104l.001-.001zm-3.33-1.956l-.312-.311a.783.783 0 0 0-1.106 0l-.372.37a.773.773 0 0 0 0 1.101l.307.305c.049.049.121.038.164-.011.181-.245.378-.479.597-.697.225-.223.455-.42.707-.599.055-.033.06-.109.016-.158h-.001zm5.001-.806v-.616a.781.781 0 0 0-.783-.779h-1.824a.78.78 0 0 0-.783.779v.632c0 .071.066.12.137.104a5.736 5.736 0 0 1 1.588-.223c.52 0 1.035.071 1.534.207a.106.106 0 0 0 .131-.104z"
				fill="#FFF"/>
			<path
				d="M102.162 13.762c0 1.455-.372 2.517-1.123 3.193-.75.676-1.895 1.013-3.44 1.013-.564 0-1.736-.109-2.673-.316l.345-1.689c.783.163 1.819.207 2.361.207.86 0 1.473-.174 1.84-.523.367-.349.548-.866.548-1.553v-.349a6.374 6.374 0 0 1-.838.316 4.151 4.151 0 0 1-1.194.158 4.515 4.515 0 0 1-1.616-.278 3.385 3.385 0 0 1-1.254-.817 3.744 3.744 0 0 1-.811-1.351c-.192-.539-.29-1.504-.29-2.212 0-.665.104-1.498.307-2.054a3.925 3.925 0 0 1 .904-1.433 4.124 4.124 0 0 1 1.441-.926 5.31 5.31 0 0 1 1.945-.365c.696 0 1.337.087 1.961.191a15.86 15.86 0 0 1 1.588.332v8.456h-.001zm-5.954-4.206c0 .893.197 1.885.592 2.299.394.414.904.621 1.528.621.34 0 .663-.049.964-.142a2.75 2.75 0 0 0 .734-.332v-5.29a8.531 8.531 0 0 0-1.413-.18c-.778-.022-1.369.294-1.786.801-.411.507-.619 1.395-.619 2.223zm16.12 0c0 .719-.104 1.264-.318 1.858a4.389 4.389 0 0 1-.904 1.52c-.389.42-.854.746-1.402.975-.548.229-1.391.36-1.813.36-.422-.005-1.26-.125-1.802-.36a4.088 4.088 0 0 1-1.397-.975 4.486 4.486 0 0 1-.909-1.52 5.037 5.037 0 0 1-.329-1.858c0-.719.099-1.411.318-1.999.219-.588.526-1.09.92-1.509.394-.42.865-.741 1.402-.97a4.547 4.547 0 0 1 1.786-.338 4.69 4.69 0 0 1 1.791.338c.548.229 1.019.55 1.402.97.389.42.69.921.909 1.509.23.588.345 1.28.345 1.999h.001zm-2.191.005c0-.921-.203-1.689-.597-2.223-.394-.539-.948-.806-1.654-.806-.707 0-1.26.267-1.654.806-.394.539-.586 1.302-.586 2.223 0 .932.197 1.558.592 2.098.394.545.948.812 1.654.812.707 0 1.26-.272 1.654-.812.394-.545.592-1.166.592-2.098h-.001zm6.962 4.707c-3.511.016-3.511-2.822-3.511-3.274L113.583.926l2.142-.338v10.003c0 .256 0 1.88 1.375 1.885v1.792h-.001zm3.774 0h-2.153V5.072l2.153-.338v9.534zm-1.079-10.542c.718 0 1.304-.578 1.304-1.291 0-.714-.581-1.291-1.304-1.291-.723 0-1.304.578-1.304 1.291 0 .714.586 1.291 1.304 1.291zm6.431 1.013c.707 0 1.304.087 1.786.262.482.174.871.42 1.156.73.285.311.488.735.608 1.182.126.447.186.937.186 1.476v5.481a25.24 25.24 0 0 1-1.495.251c-.668.098-1.419.147-2.251.147a6.829 6.829 0 0 1-1.517-.158 3.213 3.213 0 0 1-1.178-.507 2.455 2.455 0 0 1-.761-.904c-.181-.37-.274-.893-.274-1.438 0-.523.104-.855.307-1.215.208-.36.487-.654.838-.883a3.609 3.609 0 0 1 1.227-.49 7.073 7.073 0 0 1 2.202-.103c.263.027.537.076.833.147v-.349c0-.245-.027-.479-.088-.697a1.486 1.486 0 0 0-.307-.583c-.148-.169-.34-.3-.581-.392a2.536 2.536 0 0 0-.915-.163c-.493 0-.942.06-1.353.131-.411.071-.75.153-1.008.245l-.257-1.749c.268-.093.668-.185 1.183-.278a9.335 9.335 0 0 1 1.66-.142l-.001-.001zm.181 7.731c.657 0 1.145-.038 1.484-.104v-2.168a5.097 5.097 0 0 0-1.978-.104c-.241.033-.46.098-.652.191a1.167 1.167 0 0 0-.466.392c-.121.169-.175.267-.175.523 0 .501.175.79.493.981.323.196.75.289 1.293.289h.001zM84.109 4.794c.707 0 1.304.087 1.786.262.482.174.871.42 1.156.73.29.316.487.735.608 1.182.126.447.186.937.186 1.476v5.481a25.24 25.24 0 0 1-1.495.251c-.668.098-1.419.147-2.251.147a6.829 6.829 0 0 1-1.517-.158 3.213 3.213 0 0 1-1.178-.507 2.455 2.455 0 0 1-.761-.904c-.181-.37-.274-.893-.274-1.438 0-.523.104-.855.307-1.215.208-.36.487-.654.838-.883a3.609 3.609 0 0 1 1.227-.49 7.073 7.073 0 0 1 2.202-.103c.257.027.537.076.833.147v-.349c0-.245-.027-.479-.088-.697a1.486 1.486 0 0 0-.307-.583c-.148-.169-.34-.3-.581-.392a2.536 2.536 0 0 0-.915-.163c-.493 0-.942.06-1.353.131-.411.071-.75.153-1.008.245l-.257-1.749c.268-.093.668-.185 1.183-.278a8.89 8.89 0 0 1 1.66-.142l-.001-.001zm.186 7.736c.657 0 1.145-.038 1.484-.104v-2.168a5.097 5.097 0 0 0-1.978-.104c-.241.033-.46.098-.652.191a1.167 1.167 0 0 0-.466.392c-.121.169-.175.267-.175.523 0 .501.175.79.493.981.318.191.75.289 1.293.289h.001zm8.682 1.738c-3.511.016-3.511-2.822-3.511-3.274L89.461.926l2.142-.338v10.003c0 .256 0 1.88 1.375 1.885v1.792h-.001z"
				fill="#182359"/>
			<path
				d="M5.027 11.025c0 .698-.252 1.246-.757 1.644-.505.397-1.201.596-2.089.596-.888 0-1.615-.138-2.181-.414v-1.214c.358.168.739.301 1.141.397.403.097.778.145 1.125.145.508 0 .884-.097 1.125-.29a.945.945 0 0 0 .363-.779.978.978 0 0 0-.333-.747c-.222-.204-.68-.446-1.375-.725-.716-.29-1.221-.621-1.515-.994-.294-.372-.44-.82-.44-1.343 0-.655.233-1.171.698-1.547.466-.376 1.09-.564 1.875-.564.752 0 1.5.165 2.245.494l-.408 1.047c-.698-.294-1.321-.44-1.869-.44-.415 0-.73.09-.945.271a.89.89 0 0 0-.322.717c0 .204.043.379.129.524.086.145.227.282.424.411.197.129.551.299 1.063.51.577.24.999.464 1.268.671.269.208.466.442.591.704.125.261.188.569.188.924l-.001.002zm3.98 2.24c-.924 0-1.646-.269-2.167-.808-.521-.539-.782-1.281-.782-2.226 0-.97.242-1.733.725-2.288.483-.555 1.148-.833 1.993-.833.784 0 1.404.238 1.858.714.455.476.682 1.132.682 1.966v.682H7.357c.018.577.174 1.02.467 1.329.294.31.707.465 1.241.465.351 0 .678-.033.98-.099a5.1 5.1 0 0 0 .975-.33v1.026a3.865 3.865 0 0 1-.935.312 5.723 5.723 0 0 1-1.08.091l.002-.001zm-.231-5.199c-.401 0-.722.127-.964.381s-.386.625-.432 1.112h2.696c-.007-.491-.125-.862-.354-1.115-.229-.252-.544-.379-.945-.379l-.001.001zm7.692 5.092l-.252-.827h-.043c-.286.362-.575.608-.865.739-.29.131-.662.196-1.117.196-.584 0-1.039-.158-1.367-.473-.328-.315-.491-.761-.491-1.337 0-.612.227-1.074.682-1.386.455-.312 1.148-.482 2.079-.51l1.026-.032v-.317c0-.38-.089-.663-.266-.851-.177-.188-.452-.282-.824-.282-.304 0-.596.045-.876.134a6.68 6.68 0 0 0-.806.317l-.408-.902a4.414 4.414 0 0 1 1.058-.384 4.856 4.856 0 0 1 1.085-.132c.756 0 1.326.165 1.711.494.385.329.577.847.577 1.552v4.002h-.902l-.001-.001zm-1.88-.859c.458 0 .826-.128 1.104-.384.278-.256.416-.615.416-1.077v-.516l-.763.032c-.594.021-1.027.121-1.297.298s-.406.448-.406.814c0 .265.079.47.236.615.158.145.394.218.709.218h.001zm7.557-5.189c.254 0 .464.018.628.054l-.124 1.176a2.383 2.383 0 0 0-.559-.064c-.505 0-.914.165-1.227.494-.313.329-.47.757-.47 1.284v3.105h-1.262V7.218h.988l.167 1.047h.064c.197-.354.454-.636.771-.843a1.83 1.83 0 0 1 1.023-.312h.001zm4.125 6.155c-.899 0-1.582-.262-2.049-.787-.467-.525-.701-1.277-.701-2.259 0-.999.244-1.767.733-2.304.489-.537 1.195-.806 2.119-.806.627 0 1.191.116 1.692.349l-.381 1.015c-.534-.208-.974-.312-1.321-.312-1.028 0-1.542.682-1.542 2.046 0 .666.128 1.166.384 1.501.256.335.631.502 1.125.502a3.23 3.23 0 0 0 1.595-.419v1.101a2.53 2.53 0 0 1-.722.285 4.356 4.356 0 0 1-.932.086v.002zm8.277-.107h-1.268V9.506c0-.458-.092-.8-.277-1.026-.184-.226-.477-.338-.878-.338-.53 0-.919.158-1.168.475-.249.317-.373.848-.373 1.593v2.949h-1.262V4.801h1.262v2.122c0 .34-.021.704-.064 1.09h.081a1.76 1.76 0 0 1 .717-.666c.306-.158.663-.236 1.072-.236 1.439 0 2.159.725 2.159 2.175v3.873l-.001-.001zm7.649-6.048c.741 0 1.319.269 1.732.806.414.537.62 1.291.62 2.261 0 .974-.209 1.732-.628 2.275-.419.542-1.001.814-1.746.814-.752 0-1.336-.27-1.751-.811h-.086l-.231.704h-.945V4.801h1.262v1.987l-.021.655-.032.553h.054c.401-.591.992-.886 1.772-.886zm-.328 1.031c-.508 0-.875.149-1.098.448-.224.299-.339.799-.346 1.501v.086c0 .723.115 1.247.344 1.571.229.324.603.486 1.123.486.448 0 .787-.177 1.018-.532.231-.354.346-.867.346-1.536 0-1.35-.462-2.025-1.386-2.025l-.001.001zm3.244-.924h1.375l1.209 3.368c.183.48.304.931.365 1.354h.043c.032-.197.091-.436.177-.717.086-.281.541-1.616 1.364-4.004h1.364l-2.541 6.73c-.462 1.235-1.232 1.853-2.31 1.853-.279 0-.551-.03-.816-.091v-.999c.19.043.406.064.65.064.609 0 1.037-.353 1.284-1.058l.22-.559-2.385-5.941h.001z"
				fill="#1D3657"/>
		  
		
	  
	
  
</script>

<script type="text/html" id="tmpl-autocomplete-empty">
  <div class="autocomplete-empty">
	  No results matched your query 	<span class="empty-query">"{{ data.query }}"
  
</script>

<script type="text/javascript">
  jQuery(function () {
	/* init Algolia client */
	var client = algoliasearch(algolia.application_id, algolia.search_api_key);

	/* setup default sources */
	var sources = [];
	jQuery.each(algolia.autocomplete.sources, function (i, config) {
	  var suggestion_template = wp.template(config['tmpl_suggestion']);
	  sources.push({
		source: algoliaAutocomplete.sources.hits(client.initIndex(config['index_name']), {
		  hitsPerPage: config['max_suggestions'],
		  attributesToSnippet: [
			'content:10'
		  ],
		  highlightPreTag: '__ais-highlight__',
		  highlightPostTag: '__/ais-highlight__'
		}),
		templates: {
		  header: function () {
			return wp.template('autocomplete-header')({
			  label: _.escape(config['label'])
			});
		  },
		  suggestion: function (hit) {
      if(hit.escaped === true) {
        return suggestion_template(hit);
      }
      hit.escaped = true;

			for (var key in hit._highlightResult) {
			  /* We do not deal with arrays. */
			  if (typeof hit._highlightResult[key].value !== 'string') {
				continue;
			  }
			  hit._highlightResult[key].value = _.escape(hit._highlightResult[key].value);
			  hit._highlightResult[key].value = hit._highlightResult[key].value.replace(/__ais-highlight__/g, '<em>').replace(/__\/ais-highlight__/g, '');
			}

			for (var key in hit._snippetResult) {
			  /* We do not deal with arrays. */
			  if (typeof hit._snippetResult[key].value !== 'string') {
				continue;
			  }

			  hit._snippetResult[key].value = _.escape(hit._snippetResult[key].value);
			  hit._snippetResult[key].value = hit._snippetResult[key].value.replace(/__ais-highlight__/g, '<em>').replace(/__\/ais-highlight__/g, '');
			}

			return suggestion_template(hit);
		  }
		}
	  });

	});

	/* Setup dropdown menus */
	jQuery(algolia.autocomplete.input_selector).each(function (i) {
	  var $searchInput = jQuery(this);

	  var config = {
		debug: algolia.debug,
		hint: false,
		openOnFocus: true,
		appendTo: 'body',
		templates: {
		  empty: wp.template('autocomplete-empty')
		}
	  };

	  if (algolia.powered_by_enabled) {
		config.templates.footer = wp.template('autocomplete-footer');
	  }

	  /* Instantiate autocomplete.js */
	  var autocomplete = algoliaAutocomplete($searchInput[0], config, sources)
	  .on('autocomplete:selected', function (e, suggestion) {
		/* Redirect the user when we detect a suggestion selection. */
		window.location.href = suggestion.permalink;
	  });

	  /* Force the dropdown to be re-drawn on scroll to handle fixed containers. */
	  jQuery(window).scroll(function() {
		if(autocomplete.autocomplete.getWrapper().style.display === "block") {
		  autocomplete.autocomplete.close();
		  autocomplete.autocomplete.open();
		}
	  });
	});

	jQuery(document).on("click", ".algolia-powered-by-link", function (e) {
	  e.preventDefault();
	  window.location = "https://www.algolia.com/?utm_source=WordPress&utm_medium=extension&utm_content=" + window.location.hostname + "&utm_campaign=poweredby";
	});
  });
</script>
</head>

<body class="post-template-default single single-post postid-1044 single-format-standard wp-custom-logo elara-background-color-default">

	<div class="header" role="banner">

		<div class="widget-area widget-area-header">
	<div class="container-wrap">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar-top sidebar-top-left col-md-4 col-xs-12">
											<div class="header-widget widget widget_nav_menu menu example-header-sidebar"> 		<ul>
			<li class="page_item page-item-1017"><a href="http://girlintheraw.com/ayurveda-training/">Ayurveda training</a></li>
<li class="page_item page-item-1002"><a href="http://girlintheraw.com/yoga-and-ayurveda-200hr-teacher-training/">Yoga and Ayurveda 200hr Teacher Training</a></li>
		</ul>
			</div>									</div>
				<div class="sidebar-top sidebar-top-center col-md-4 col-xs-12">
									</div>
				<div class="sidebar-top sidebar-top-right col-md-4 col-xs-12">
											<div class="header-widget widget widget_search example-header-sidebar"><form role="search" method="get" class="search-form" action="http://girlintheraw.com/">
	<input type="search" class="search-field" value="" name="s" placeholder="Search">
	<button type="submit" class="search-submit">
		<i class="fa fa-search"></i>		<span>Search</span>
	</button>
</form></div>									</div>
			</div>
		</div>
	</div>
</div>
<div class="header-toggle"><i class="fa fa-angle-down"></i></div>
<div class="default-background-color">
	<div class="logo">
					<div class="header-logo-text">
				<a href="http://girlintheraw.com/">Girl In The Raw</a>
			</div>
			</div>
</div><div class="default-background-color">
	<div class="wrapper wrapper-nav">
		<nav class="main-navbar navbar navbar-default" id="main-navbar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".wrapper-nav .navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="main-menu" class="navbar-collapse collapse menu-container"><ul id="menu-categories" class="nav navbar-nav menu"><li id="menu-item-976" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-976 dropdown"><a href="http://girlintheraw.com/category/recipes/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Recipes <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-977" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-977"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a></li>
	<li id="menu-item-978" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-978"><a href="http://girlintheraw.com/category/entrees/">Entrees</a></li>
	<li id="menu-item-983" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-983"><a href="http://girlintheraw.com/category/salad/">Salad</a></li>
	<li id="menu-item-981" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-981"><a href="http://girlintheraw.com/category/snacks/">Snacks</a></li>
	<li id="menu-item-984" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-984"><a href="http://girlintheraw.com/category/dessert/">Dessert</a></li>
	<li id="menu-item-987" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-987"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a></li>
	<li id="menu-item-982" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-982"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a></li>
</ul>
</li>
<li id="menu-item-973" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-973"><a href="http://girlintheraw.com/category/yoga/">Yoga</a></li>
<li id="menu-item-971" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-971 dropdown"><a href="http://girlintheraw.com/category/lifestyle/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Lifestyle <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-972" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-972"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a></li>
	<li id="menu-item-975" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-975"><a href="http://girlintheraw.com/category/reviews/">Reviews</a></li>
	<li id="menu-item-974" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-974"><a href="http://girlintheraw.com/category/travel/">Travel</a></li>
	<li id="menu-item-988" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-988"><a href="http://girlintheraw.com/category/fashion/">Fashion</a></li>
</ul>
</li>
<li id="menu-item-979" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-979 dropdown"><a href="http://girlintheraw.com/category/fitness/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Fitness <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-980" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-980"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a></li>
	<li id="menu-item-986" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-986"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a></li>
</ul>
</li>
</ul></div>		</nav>
	</div>
</div>	</div>
<div class="default-background-color">
	<main class="main" role="main">
		<div class="wrapper">
				
					<div class="entry-thumb">

									<a href="http://girlintheraw.com/2019/06/04/nuzest-plant-based-protein-powder-review-with-smoothie-recipe/" rel="bookmark">
				
									<img width="1024" height="680" src="/wp-content/uploads/2019/06/P1199700-1024x680.jpg" class="img-responsive wp-post-image" alt="Nuzest plant-based protein powder review with Smoothie recipe">				
									</a>
				
			</div>				<div class="row post-sidebar-on">
					<div class="col-md-9 col-xs-12 entry-singular-wrapper">
						<article id="post-1044" class="entry-singular post-1044 post type-post status-publish format-standard has-post-thumbnail hentry category-breakfast category-health-and-nutrition category-juices-and-smoothies category-reviews tag-breakfast tag-nutrition tag-recipes tag-reviews tag-smoothies tag-vegan-protein">
							
									<footer class="entry-meta">
										<div>
														<span class="entry-category"><a href="http://girlintheraw.com/category/breakfast/" rel="category tag">Breakfast</a>, <a href="http://girlintheraw.com/category/health-and-nutrition/" rel="category tag">Health and Nutrition</a>, <a href="http://girlintheraw.com/category/juices-and-smoothies/" rel="category tag">Juices and Smoothies</a>, <a href="http://girlintheraw.com/category/reviews/" rel="category tag">Reviews</a></span>											<span class="entry-separator"> / </span>											<span class="entry-date">June 4, 2019</span>										</div>
									</footer>

									<header class="entry-header">
										<h1 class="entry-title">Nuzest plant-based protein powder review with Smoothie recipe</h1>										<span class="entry-author">by <a href="http://girlintheraw.com/author/matea/">matea</a></span>									</header>

                                    
									<div class="entry-content clearfix">
										
<p><em>Disclaimer: I received Nuzest products as part of a campaign with Sweat Pink. All opinions are my own. </em></p>



<p>I’m on a bit of a teaching streak. I just wrapped up our <a rel="noreferrer noopener" aria-label="Hari OM Yoga & Ayurveda teacher training (opens in a new tab)" href="/yoga-and-ayurveda-200hr-teacher-training/" target="_blank">Hari OM Yoga & Ayurveda teacher training</a> in Costa Rica. It’s an intensive, 22 day, 200hr course that prepares participants to become yoga teachers and Ayurveda coaches. I also taught a few Ayurveda workshops before and after the course, the last one being the first weekend after the course wrapped up, in my old studio Yoga one in Hollywood, FL. We’re passing by our second home of Miami while on the way to Europe and my home country of Croatia. </p>



<ul class="wp-block-gallery aligncenter columns-2 is-cropped"><li class="blocks-gallery-item"><figure><img src="/wp-content/uploads/2019/06/P1199719-1024x768.jpg" alt="" data-id="1045" data-link="/?attachment_id=1045" class="wp-image-1045" srcset="/wp-content/uploads/2019/06/P1199719.jpg 1024w,/wp-content/uploads/2019/06/P1199719-300x225.jpg 300w,/wp-content/uploads/2019/06/P1199719-768x576.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px"><figcaption>With Darlene, owner of Yoga 1 studio</figcaption></figure></li><li class="blocks-gallery-item"><figure><img src="/wp-content/uploads/2019/06/P1199765-1024x768.jpg" alt="" data-id="1047" data-link="/?attachment_id=1047" class="wp-image-1047" srcset="/wp-content/uploads/2019/06/P1199765.jpg 1024w,/wp-content/uploads/2019/06/P1199765-300x225.jpg 300w,/wp-content/uploads/2019/06/P1199765-768x576.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px"><figcaption>Ayurveda workshop circle</figcaption></figure></li></ul>



<p>This Ayurveda workshop was by far the most intense and emotional, as many participants who attended shared their struggles with cancer and other chronic diseases. I began the workshop by asking the participants: ‘What does health mean to you?’ </p>



<p>I always enjoy hearing the response. Many said that health to them means being free, or specifically being pain-free, being balanced and feeling well in their body. Unsurprisingly, our discussion led us to talk about nutrition, which forms a large part of Ayurveda health and is probably the most well-known aspect of this healing science. The participants asked engaging questions and we spoke of eating well, locally, in season, predominantly plant-based, the foundation of Ayurveda diet. One of my fellow yoga teachers from the studio asked about eating protein bars and powders. Of course, that’s a very common question, and many people who are already very health conscious use those products. Although Ayurveda, and most sensible nutrition philosophies, advises eating as much fresh and home-prepared, least processed foods, with our busy lifestyle today, that often seems impossible.</p>



<div class="wp-block-image"><figure class="aligncenter"><img src="/wp-content/uploads/2019/06/nuzest.png" alt="" class="wp-image-1049" srcset="/wp-content/uploads/2019/06/nuzest.png 650w,/wp-content/uploads/2019/06/nuzest-150x150.png 150w,/wp-content/uploads/2019/06/nuzest-300x300.png 300w" sizes="(max-width: 650px) 100vw, 650px"><figcaption>Nuzest Vegan Vanilla protein</figcaption></figure></div>



<p>My response to her question is that it definitely depends on the product. There are highly processed, cheap protein powders and bars that resemble candy out there. Powders like whey, which is, unfortunately, a relatively cheap by-product of milk, and powders with a long list of ingredients and artificial additives, are not something I would advise using generously. But a good quality protein powder with a shorter list of wholesome ingredients is something I personally use almost on a daily basis! I can’t live without my protein smoothies, where I mix a few fruits with my favorite protein powder for a light breakfast. I often add a second breakfast if I’m still hungry of something more substantial. But my vegan smoothies keep me going between morning runs or workouts and teaching yoga classes. </p>



<p>As I was answering her question, I was thinking of the fresh batch of <a rel="noreferrer noopener" aria-label="Nuzest (opens in a new tab)" href="https://www.nuzest-usa.com/shop/clean-lean-protein" target="_blank">Nuzest</a> protein powders I recently received to review for my blog. Full disclosure – my favorite part of blogging is, by far, trying out new vegan products. I’m sure that’s not a surprise! </p>



<figure class="wp-block-image"><img src="/wp-content/uploads/2019/06/IMG_7247-769x1024.jpg" alt="" class="wp-image-1050" srcset="/wp-content/uploads/2019/06/IMG_7247-769x1024.jpg 769w,/wp-content/uploads/2019/06/IMG_7247-225x300.jpg 225w,/wp-content/uploads/2019/06/IMG_7247-768x1022.jpg 768w" sizes="(max-width: 769px) 100vw, 769px"><figcaption>Nuzest Good Green Snack</figcaption></figure>



<p>Throughout my ‘blogging career’ (I literally chuckled as I wrote that), I’ve had the pleasure of reviewing quite a few protein powders. Some of course were good, and some chalky and tasteless. Even if their ingredients promise a quality product, it’s very hard to stick to something that isn’t flavorful. Vegan protein powders have had that issue in the beginning, in my humble opinion. Some try to be too healthy so they don’t add any sweetener or flavor, and again that might be someone’s favorite option, but it definitely isn’t mine. </p>



<p>I must say I’ve been pleasantly surprised by this new product – I’ve never tried the brand Nuzest before. I received Smooth vanilla and Rich chocolate, standard flavors but really my favorite two options. I tend to use vanilla in my daily smoothies and when I’m feeling creative, I’ll add chocolate in special preparations like milkshakes or protein pancakes. I, of course, use both vanilla and chocolate in smoothies as well – find both recipes below!</p>



<figure class="wp-block-image"><img src="/wp-content/uploads/2019/06/P1199700-1024x768.jpg" alt="" class="wp-image-1052" srcset="/wp-content/uploads/2019/06/P1199700.jpg 1024w,/wp-content/uploads/2019/06/P1199700-300x225.jpg 300w,/wp-content/uploads/2019/06/P1199700-768x576.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px"></figure>



<h2>Fruity vanilla smoothie </h2>



<p><em>{vegan, gluten-free, high-raw, soy free, nut-free if using oat or rice milk}</em></p>



<ul><li>1 banana</li><li>1/2 cup frozen pineapple</li><li>1/2 cup frozen strawberries</li><li>1/4 cup frozen kiwi</li><li>1 1/2 cup vanilla almond milk (or your favorite non-dairy milk)</li><li>1 scoop Nuzest Smooth vanilla protein powder</li><li>2 tbs hemp seeds for topping (optional)</li></ul>



<p>Blend all ingredients, add water or more milk if needed. Keep it more think and use it as a base for a smoothie bowl instead, it works just as good because it’s creamy. </p>



<figure class="wp-block-image"><img src="/wp-content/uploads/2019/06/P1199693-1024x768.jpg" alt="" class="wp-image-1053" srcset="/wp-content/uploads/2019/06/P1199693.jpg 1024w,/wp-content/uploads/2019/06/P1199693-300x225.jpg 300w,/wp-content/uploads/2019/06/P1199693-768x576.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px"></figure>



<p>Here’s the skinny on Nuzest Protein powder:</p>



<ul><li>19-21 grams of protein per 25 gram serving (79%-84% protein depending on flavor)</li><li>Very Low Fat and Carbs. Less than 1/2 gram of fat, only 2 grams or less of carbs</li><li>Vegan, Dairy Free, Soy Free, GMO Free & Gluten Free</li><li>Common allergen free </li><li>No added sugar (less than 1/4 gram naturally occurring)</li><li>Made with golden pea</li></ul>



<figure class="wp-block-image"><img src="/wp-content/uploads/2019/06/IMG_7255-805x1024.jpg" alt="" class="wp-image-1055" srcset="/wp-content/uploads/2019/06/IMG_7255-805x1024.jpg 805w,/wp-content/uploads/2019/06/IMG_7255-236x300.jpg 236w,/wp-content/uploads/2019/06/IMG_7255-768x977.jpg 768w" sizes="(max-width: 805px) 100vw, 805px"><figcaption>Smoothie + bar = perfect combo on the go</figcaption></figure>



<h2>Chocolate Acai smoothie on the go </h2>



<p><em>{vegan, gluten-free, high-raw, soy free}</em></p>



<ul><li>1 pouch frozen Acai</li><li>1 frozen banana</li><li>1 tbsp creamy almond butter (can use peanut)</li><li>1 cup almond milk original flavor (adjust if needed)</li><li>1 scoop Nuzest Rich chocolate protein powder</li></ul>



<p>I know most people wouldn’t think of combining acai with creamy flavors like chocolate and nut butter – but it works! Give it a try sometimes for a creative breakfast idea. </p>



<p>The <a rel="noreferrer noopener" aria-label="snack bars (opens in a new tab)" href="https://www.nuzest-usa.com/shop/good-green-snack-bar" target="_blank">snack bars</a> were an additional treat. I love trying out new bars, they are my favorite snack on the go and pair perfectly with smoothies. I usually take them to my yoga classes, especially if I have a long day. This is a superfood product. They taste very healthy (read: not like a candy bar), but I enjoyed that because it wasn’t overly filling. Some bars are tasty but feel like a chocolate bar, and that makes them hard to digest in the early mornings, so I even sometimes get heartburns. </p>



<p>The are only 150 calories per bar, while most common protein bars on the market rank at 200+ calories. They are both vegan and paleo, and contain ingredients that are even used in Ayurveda. </p>



<h4>Would I recommend this product?</h4>



<p>Yes. I think it is healthy, tastes good and pairs well with what I already use on a regular basis. If you try it, let me know what you think!</p>



<h4>Do I like using vegan protein powders and bars?</h4>



<p>Yes, they are an essential part of my nutrition these days. Most mornings I’m out early for a run or swim class, then often head out to teach yoga or do other work with little to no time for a proper breakfast in between. On those days, my to-go smoothies and bars literally save me from going hangry berzerk. I also heavily rely on having a bar in my bag at all times, whether it’s when I’m traveling or teaching a full day in yoga teacher training. But I think picking a quality product is essential!</p>



<figure class="wp-block-image"><img alt=""></figure>
																			</div>

									<footer class="entry-meta">
										<h3 class="section-title">Tags</h3><ul><li class="list-item-separators"><a href="http://girlintheraw.com/tag/breakfast/" rel="tag">Breakfast</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/nutrition/" rel="tag">Nutrition</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/recipes/" rel="tag">Recipes</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/reviews/" rel="tag">Reviews</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/smoothies/" rel="tag">Smoothies</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/vegan-protein/" rel="tag">Vegan Protein</a></li></ul>									</footer>

								
	<nav class="navigation post-navigation" role="navigation" aria-label="Posts">
		<h2 class="screen-reader-text">Post navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="http://girlintheraw.com/2019/03/26/race-recap-rock-n-roll-marathon-medellin/" rel="prev"><i class="fa fa-long-arrow-left"></i> Race recap: Rock ‘n’ Roll Marathon Medellin</a></div><div class="nav-next"><a href="http://girlintheraw.com/2020/01/26/birthday-reflections/" rel="next">Birthday Reflections <i class="fa fa-long-arrow-right"></i></a></div></div>
	</nav>
<div id="disqus_thread"></div>
						</article>
					</div>

					
<div class="widget-area widget-area-sidebar col-md-3 col-xs-12" role="complementary">
				<div class="sidebar-default">
				<div id="search-2" class="default-widget widget widget_search"><form role="search" method="get" class="search-form" action="http://girlintheraw.com/">
	<input type="search" class="search-field" value="" name="s" placeholder="Search">
	<button type="submit" class="search-submit">
		<i class="fa fa-search"></i>		<span>Search</span>
	</button>
</form></div><div id="about_me_widget-2" class="default-widget widget the_about_me_widget"><h3 class="widget-title">About Me</h3><div class="widget_image"><img src="/wp-content/uploads/2019/03/IMG_9814.jpg" alt="About Me"></div>Hi! My name is Matea, and welcome to my blog. I share my thoughts about everything from vegan food to yoga to travel, all with a purpose to create a community of people looking to uplift each other while making this world a better place. Do I sound like a cheesy millennial? I guess I can live with that. I really do mean it, though. I teach yoga and run my business Hari OM Yoga & Wellness in gorgeous Costa Rica. Come see me sometime.</div>		<div id="recent-posts-2" class="default-widget widget widget_recent_entries">		<h3 class="widget-title">Recent Posts</h3>		<ul>
											<li>
					<a href="http://girlintheraw.com/2020/01/26/birthday-reflections/">Birthday Reflections</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/06/04/nuzest-plant-based-protein-powder-review-with-smoothie-recipe/" aria-current="page">Nuzest plant-based protein powder review with Smoothie recipe</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/03/26/race-recap-rock-n-roll-marathon-medellin/">Race recap: Rock ‘n’ Roll Marathon Medellin</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/06/25/ironman-70-3-costa-rica-2018-race-recap/">Ironman 70.3 Costa Rica 2018 race recap</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/02/18/yoga-and-ayurveda-teacher-training-in-costa-rica/">Yoga and Ayurveda teacher training in Costa Rica</a>
									</li>
					</ul>
		</div><div id="categories-2" class="default-widget widget widget_categories"><h3 class="widget-title">Categories</h3>		<ul>
				<li class="cat-item cat-item-143"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a>
</li>
	<li class="cat-item cat-item-144"><a href="http://girlintheraw.com/category/dessert/">Dessert</a>
</li>
	<li class="cat-item cat-item-145"><a href="http://girlintheraw.com/category/entrees/">Entrees</a>
</li>
	<li class="cat-item cat-item-159"><a href="http://girlintheraw.com/category/fashion/">Fashion</a>
</li>
	<li class="cat-item cat-item-146"><a href="http://girlintheraw.com/category/fitness/">Fitness</a>
</li>
	<li class="cat-item cat-item-147"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a>
</li>
	<li class="cat-item cat-item-148"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a>
</li>
	<li class="cat-item cat-item-149"><a href="http://girlintheraw.com/category/lifestyle/">Lifestyle</a>
</li>
	<li class="cat-item cat-item-150"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a>
</li>
	<li class="cat-item cat-item-161"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a>
</li>
	<li class="cat-item cat-item-151"><a href="http://girlintheraw.com/category/recipes/">Recipes</a>
</li>
	<li class="cat-item cat-item-152"><a href="http://girlintheraw.com/category/reviews/">Reviews</a>
</li>
	<li class="cat-item cat-item-153"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a>
</li>
	<li class="cat-item cat-item-154"><a href="http://girlintheraw.com/category/salad/">Salad</a>
</li>
	<li class="cat-item cat-item-156"><a href="http://girlintheraw.com/category/snacks/">Snacks</a>
</li>
	<li class="cat-item cat-item-157"><a href="http://girlintheraw.com/category/travel/">Travel</a>
</li>
	<li class="cat-item cat-item-163"><a href="http://girlintheraw.com/category/wellness/">Wellness</a>
</li>
	<li class="cat-item cat-item-158"><a href="http://girlintheraw.com/category/yoga/">Yoga</a>
</li>
		</ul>
			</div><div id="meta-2" class="default-widget widget widget_meta"><h3 class="widget-title">Meta</h3>			<ul>
						<li><a href="http://girlintheraw.com/wp-login.php">Log in</a></li>
			<li><a href="http://girlintheraw.com/feed/">Entries feed</a></li>
			<li><a href="http://girlintheraw.com/comments/feed/">Comments feed</a></li>
			<li><a href="https://wordpress.org/">WordPress.org</a></li>			</ul>
			</div>			</div></div>
				</div>
		</div>
	</main>
</div>

	<div class="footer footer-columns" role="contentinfo">
		<div class="default-background-color">
			<div class="wrapper">
			

    <div class="widget-area widget-area-footer widget-area-footer-columns" role="complementary">

        
        <div class="row footer-columns footer-columns-5">

                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-1">
                        <div class="default-widget widget widget_recent_comments example-footer-sidebar"><h3 class="widget-title">Recent Comments</h3><ul id="recentcomments"></ul></div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-2">
                        <div class="default-widget widget widget_nav_menu menu example-footer-sidebar"><h3 class="widget-title">Pages</h3>		<ul>
			<li class="page_item page-item-1017"><a href="http://girlintheraw.com/ayurveda-training/">Ayurveda training</a></li>
<li class="page_item page-item-1002"><a href="http://girlintheraw.com/yoga-and-ayurveda-200hr-teacher-training/">Yoga and Ayurveda 200hr Teacher Training</a></li>
		</ul>
			</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-3">
                        <div class="default-widget widget widget_categories example-footer-sidebar"><h3 class="widget-title">Categories</h3>		<ul>
				<li class="cat-item cat-item-143"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a>
</li>
	<li class="cat-item cat-item-144"><a href="http://girlintheraw.com/category/dessert/">Dessert</a>
</li>
	<li class="cat-item cat-item-145"><a href="http://girlintheraw.com/category/entrees/">Entrees</a>
</li>
	<li class="cat-item cat-item-159"><a href="http://girlintheraw.com/category/fashion/">Fashion</a>
</li>
	<li class="cat-item cat-item-146"><a href="http://girlintheraw.com/category/fitness/">Fitness</a>
</li>
	<li class="cat-item cat-item-147"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a>
</li>
	<li class="cat-item cat-item-148"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a>
</li>
	<li class="cat-item cat-item-149"><a href="http://girlintheraw.com/category/lifestyle/">Lifestyle</a>
</li>
	<li class="cat-item cat-item-150"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a>
</li>
	<li class="cat-item cat-item-161"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a>
</li>
	<li class="cat-item cat-item-151"><a href="http://girlintheraw.com/category/recipes/">Recipes</a>
</li>
	<li class="cat-item cat-item-152"><a href="http://girlintheraw.com/category/reviews/">Reviews</a>
</li>
	<li class="cat-item cat-item-153"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a>
</li>
	<li class="cat-item cat-item-154"><a href="http://girlintheraw.com/category/salad/">Salad</a>
</li>
	<li class="cat-item cat-item-156"><a href="http://girlintheraw.com/category/snacks/">Snacks</a>
</li>
	<li class="cat-item cat-item-157"><a href="http://girlintheraw.com/category/travel/">Travel</a>
</li>
	<li class="cat-item cat-item-163"><a href="http://girlintheraw.com/category/wellness/">Wellness</a>
</li>
	<li class="cat-item cat-item-158"><a href="http://girlintheraw.com/category/yoga/">Yoga</a>
</li>
		</ul>
			</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-4">
                        		<div class="default-widget widget widget_recent_entries example-footer-sidebar">		<h3 class="widget-title">Recent Posts</h3>		<ul>
											<li>
					<a href="http://girlintheraw.com/2020/01/26/birthday-reflections/">Birthday Reflections</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/06/04/nuzest-plant-based-protein-powder-review-with-smoothie-recipe/" aria-current="page">Nuzest plant-based protein powder review with Smoothie recipe</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/03/26/race-recap-rock-n-roll-marathon-medellin/">Race recap: Rock ‘n’ Roll Marathon Medellin</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/06/25/ironman-70-3-costa-rica-2018-race-recap/">Ironman 70.3 Costa Rica 2018 race recap</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/02/18/yoga-and-ayurveda-teacher-training-in-costa-rica/">Yoga and Ayurveda teacher training in Costa Rica</a>
									</li>
					</ul>
		</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-5">
                        <div class="default-widget widget widget_archive example-footer-sidebar"><h3 class="widget-title">Archives</h3>		<ul>
				<li><a href="http://girlintheraw.com/2020/01/">January 2020</a></li>
	<li><a href="http://girlintheraw.com/2019/06/">June 2019</a></li>
	<li><a href="http://girlintheraw.com/2019/03/">March 2019</a></li>
	<li><a href="http://girlintheraw.com/2018/06/">June 2018</a></li>
	<li><a href="http://girlintheraw.com/2018/02/">February 2018</a></li>
	<li><a href="http://girlintheraw.com/2018/01/">January 2018</a></li>
	<li><a href="http://girlintheraw.com/2017/11/">November 2017</a></li>
	<li><a href="http://girlintheraw.com/2017/06/">June 2017</a></li>
	<li><a href="http://girlintheraw.com/2017/03/">March 2017</a></li>
	<li><a href="http://girlintheraw.com/2016/12/">December 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/11/">November 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/10/">October 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/09/">September 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/08/">August 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/07/">July 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/06/">June 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/04/">April 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/03/">March 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/02/">February 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/01/">January 2016</a></li>
	<li><a href="http://girlintheraw.com/2015/12/">December 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/11/">November 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/10/">October 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/09/">September 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/08/">August 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/07/">July 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/06/">June 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/05/">May 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/04/">April 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/02/">February 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/01/">January 2015</a></li>
	<li><a href="http://girlintheraw.com/2014/12/">December 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/11/">November 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/10/">October 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/07/">July 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/06/">June 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/03/">March 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/01/">January 2014</a></li>
	<li><a href="http://girlintheraw.com/2013/09/">September 2013</a></li>
	<li><a href="http://girlintheraw.com/2013/08/">August 2013</a></li>
	<li><a href="http://girlintheraw.com/2013/06/">June 2013</a></li>
		</ul>
			</div>                    </div>
            
        </div>

	</div>
    
    

				<div class="footer-copyrights">
					<ul>
						<li class="credits">
                            <a href="https://www.lyrathemes.com/elara/" target="_blank">Elara</a> by LyraThemes                        </li>

						<li>
															Made by <a href="https://www.lyrathemes.com/elara/">LyraThemes.com</a>													</li>
					</ul>
				</div>

			</div>
		</div>
	</div>

<script type="text/javascript">
/* <![CDATA[ */
var countVars = {"disqusShortname":"girlintheraw"};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/disqus-comment-system/public/js/comment_count.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var embedVars = {"disqusConfig":{"integration":"wordpress 3.0.17"},"disqusIdentifier":"1044 http:\/\/girlintheraw.com\/?p=1044","disqusShortname":"girlintheraw","disqusTitle":"Nuzest plant-based protein powder review with Smoothie recipe","disqusUrl":"http:\/\/girlintheraw.com\/2019\/06\/04\/nuzest-plant-based-protein-powder-review-with-smoothie-recipe\/","postId":"1044"};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/disqus-comment-system/public/js/comment_embed.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.smartmenus.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.smartmenus.bootstrap.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/slick.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/elara.min.js"></script>
</body>
</html>
