<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Holiday Gift Guide for Yogis – Girl In The Raw</title>
<link rel="dns-prefetch" href="//f68108fc-8969-11e8-bffa-468318759c16.app.getshifter.io">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link href="https://fonts.gstatic.com" crossorigin rel="preconnect">
<link rel="stylesheet" id="wp-block-library-css" href="http://girlintheraw.com/wp-includes/css/dist/block-library/style.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elara-fonts-css" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600%7CPlayfair+Display%3A400%2C400i%2C700%2C700i%2C900&subset=latin%2Clatin-ext" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" id="smartmenus-bootstrap-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/jquery.smartmenus.bootstrap.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="slick-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/slick.min.css" type="text/css" media="all">
<link rel="stylesheet" id="slick-theme-css" href="http://girlintheraw.com/wp-content/themes/elara/assets/css/slick-theme.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elara-style-css" href="http://girlintheraw.com/wp-content/themes/elara/style.css" type="text/css" media="all">
<link rel="stylesheet" id="algolia-autocomplete-css" href="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/css/algolia-autocomplete.css" type="text/css" media="screen">


<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/jquery/jquery.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/underscore.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpUtilSettings = {"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-includes/js/wp-util.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/algoliasearch/algoliasearch.jquery.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/autocomplete.js/autocomplete.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/wp-search-with-algolia/js/autocomplete-noconflict.js"></script>




		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-57409707-1', 'auto');
			ga('send', 'pageview');
		</script>

	<script type="text/javascript">var algolia = {"debug":false,"application_id":"SMYR92R28O","search_api_key":"769851a58ff5b5c6893d8d20ce320300","powered_by_enabled":true,"query":"","autocomplete":{"sources":[{"index_id":"posts_post","index_name":"wp_posts_post","label":"Posts","admin_name":"Posts","position":10,"max_suggestions":5,"tmpl_suggestion":"autocomplete-post-suggestion","enabled":true}],"input_selector":"input[name='s']:not('.no-autocomplete')"},"indices":{"searchable_posts":{"name":"wp_searchable_posts","id":"searchable_posts","enabled":true,"replicas":[]},"posts_post":{"name":"wp_posts_post","id":"posts_post","enabled":true,"replicas":[]}}};</script><link rel="icon" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-32x32.png" sizes="32x32">
<link rel="icon" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-180x180.png">
<meta name="msapplication-TileImage" content="/wp-content/uploads/2018/09/cropped-GIR-logo-header-1-270x270.png">
		<style type="text/css" id="wp-custom-css">
			.search-field.aa-input {
	min-width: 255px;
}		</style>
		<style id="kirki-inline-styles"></style><script type="text/html" id="tmpl-autocomplete-header">
  <div class="autocomplete-header">
	<div class="autocomplete-header-title">{{{ data.label }}}
	<div class="clear">
  
</script>

<script type="text/html" id="tmpl-autocomplete-post-suggestion">
  <a class="suggestion-link" href="{{ data.permalink }}" title="{{ data.post_title }}">
	<# if ( data.images.thumbnail ) { #>
	  <img class="suggestion-post-thumbnail" src="{{ data.images.thumbnail.url }}" alt="{{ data.post_title }}">
	  <# } #>
		<div class="suggestion-post-attributes">
		  <span class="suggestion-post-title">{{{ data._highlightResult.post_title.value }}}
		  <# if ( data._snippetResult['content'] ) { #>
			<span class="suggestion-post-content">{{{ data._snippetResult['content'].value }}}
			<# } #>
		
  
</script>

<script type="text/html" id="tmpl-autocomplete-term-suggestion">
  <a class="suggestion-link" href="{{ data.permalink }}" title="{{ data.name }}">
	<svg viewBox="0 0 21 21" width="21" height="21">
	  <svg width="21" height="21" viewBox="0 0 21 21">
		<path
			d="M4.662 8.72l-1.23 1.23c-.682.682-.68 1.792.004 2.477l5.135 5.135c.7.693 1.8.688 2.48.005l1.23-1.23 5.35-5.346c.31-.31.54-.92.51-1.36l-.32-4.29c-.09-1.09-1.05-2.06-2.15-2.14l-4.3-.33c-.43-.03-1.05.2-1.36.51l-.79.8-2.27 2.28-2.28 2.27zm9.826-.98c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25-1.25.56-1.25 1.25.56 1.25 1.25 1.25z"
			fill-rule="evenodd">
	  
	
	<span class="suggestion-post-title">{{{ data._highlightResult.name.value }}}
  
</script>

<script type="text/html" id="tmpl-autocomplete-user-suggestion">
  <a class="suggestion-link user-suggestion-link" href="{{ data.posts_url }}" title="{{ data.display_name }}">
	<# if ( data.avatar_url ) { #>
	  <img class="suggestion-user-thumbnail" src="{{ data.avatar_url }}" alt="{{ data.display_name }}">
	  <# } #>

		<span class="suggestion-post-title">{{{ data._highlightResult.display_name.value }}}
  
</script>

<script type="text/html" id="tmpl-autocomplete-footer">
  <div class="autocomplete-footer">
	<div class="autocomplete-footer-branding">
	  <a href="#" class="algolia-powered-by-link" title="Algolia">
		<svg width="130" viewBox="0 0 130 18" xmlns="http://www.w3.org/2000/svg">
		  <title>Search by Algolia
		  <defs>
			<linearGradient x1="-36.868%" y1="134.936%" x2="129.432%" y2="-27.7%" id="a">
			  <stop stop-color="#00AEFF" offset="0%"/>
			  <stop stop-color="#3369E7" offset="100%"/>
			
		  
		  <g fill="none" fill-rule="evenodd">
			<path
				d="M59.399.022h13.299a2.372 2.372 0 0 1 2.377 2.364V15.62a2.372 2.372 0 0 1-2.377 2.364H59.399a2.372 2.372 0 0 1-2.377-2.364V2.381A2.368 2.368 0 0 1 59.399.022z"
				fill="url(#a)"/>
			<path
				d="M66.257 4.56c-2.815 0-5.1 2.272-5.1 5.078 0 2.806 2.284 5.072 5.1 5.072 2.815 0 5.1-2.272 5.1-5.078 0-2.806-2.279-5.072-5.1-5.072zm0 8.652c-1.983 0-3.593-1.602-3.593-3.574 0-1.972 1.61-3.574 3.593-3.574 1.983 0 3.593 1.602 3.593 3.574a3.582 3.582 0 0 1-3.593 3.574zm0-6.418v2.664c0 .076.082.131.153.093l2.377-1.226c.055-.027.071-.093.044-.147a2.96 2.96 0 0 0-2.465-1.487c-.055 0-.11.044-.11.104l.001-.001zm-3.33-1.956l-.312-.311a.783.783 0 0 0-1.106 0l-.372.37a.773.773 0 0 0 0 1.101l.307.305c.049.049.121.038.164-.011.181-.245.378-.479.597-.697.225-.223.455-.42.707-.599.055-.033.06-.109.016-.158h-.001zm5.001-.806v-.616a.781.781 0 0 0-.783-.779h-1.824a.78.78 0 0 0-.783.779v.632c0 .071.066.12.137.104a5.736 5.736 0 0 1 1.588-.223c.52 0 1.035.071 1.534.207a.106.106 0 0 0 .131-.104z"
				fill="#FFF"/>
			<path
				d="M102.162 13.762c0 1.455-.372 2.517-1.123 3.193-.75.676-1.895 1.013-3.44 1.013-.564 0-1.736-.109-2.673-.316l.345-1.689c.783.163 1.819.207 2.361.207.86 0 1.473-.174 1.84-.523.367-.349.548-.866.548-1.553v-.349a6.374 6.374 0 0 1-.838.316 4.151 4.151 0 0 1-1.194.158 4.515 4.515 0 0 1-1.616-.278 3.385 3.385 0 0 1-1.254-.817 3.744 3.744 0 0 1-.811-1.351c-.192-.539-.29-1.504-.29-2.212 0-.665.104-1.498.307-2.054a3.925 3.925 0 0 1 .904-1.433 4.124 4.124 0 0 1 1.441-.926 5.31 5.31 0 0 1 1.945-.365c.696 0 1.337.087 1.961.191a15.86 15.86 0 0 1 1.588.332v8.456h-.001zm-5.954-4.206c0 .893.197 1.885.592 2.299.394.414.904.621 1.528.621.34 0 .663-.049.964-.142a2.75 2.75 0 0 0 .734-.332v-5.29a8.531 8.531 0 0 0-1.413-.18c-.778-.022-1.369.294-1.786.801-.411.507-.619 1.395-.619 2.223zm16.12 0c0 .719-.104 1.264-.318 1.858a4.389 4.389 0 0 1-.904 1.52c-.389.42-.854.746-1.402.975-.548.229-1.391.36-1.813.36-.422-.005-1.26-.125-1.802-.36a4.088 4.088 0 0 1-1.397-.975 4.486 4.486 0 0 1-.909-1.52 5.037 5.037 0 0 1-.329-1.858c0-.719.099-1.411.318-1.999.219-.588.526-1.09.92-1.509.394-.42.865-.741 1.402-.97a4.547 4.547 0 0 1 1.786-.338 4.69 4.69 0 0 1 1.791.338c.548.229 1.019.55 1.402.97.389.42.69.921.909 1.509.23.588.345 1.28.345 1.999h.001zm-2.191.005c0-.921-.203-1.689-.597-2.223-.394-.539-.948-.806-1.654-.806-.707 0-1.26.267-1.654.806-.394.539-.586 1.302-.586 2.223 0 .932.197 1.558.592 2.098.394.545.948.812 1.654.812.707 0 1.26-.272 1.654-.812.394-.545.592-1.166.592-2.098h-.001zm6.962 4.707c-3.511.016-3.511-2.822-3.511-3.274L113.583.926l2.142-.338v10.003c0 .256 0 1.88 1.375 1.885v1.792h-.001zm3.774 0h-2.153V5.072l2.153-.338v9.534zm-1.079-10.542c.718 0 1.304-.578 1.304-1.291 0-.714-.581-1.291-1.304-1.291-.723 0-1.304.578-1.304 1.291 0 .714.586 1.291 1.304 1.291zm6.431 1.013c.707 0 1.304.087 1.786.262.482.174.871.42 1.156.73.285.311.488.735.608 1.182.126.447.186.937.186 1.476v5.481a25.24 25.24 0 0 1-1.495.251c-.668.098-1.419.147-2.251.147a6.829 6.829 0 0 1-1.517-.158 3.213 3.213 0 0 1-1.178-.507 2.455 2.455 0 0 1-.761-.904c-.181-.37-.274-.893-.274-1.438 0-.523.104-.855.307-1.215.208-.36.487-.654.838-.883a3.609 3.609 0 0 1 1.227-.49 7.073 7.073 0 0 1 2.202-.103c.263.027.537.076.833.147v-.349c0-.245-.027-.479-.088-.697a1.486 1.486 0 0 0-.307-.583c-.148-.169-.34-.3-.581-.392a2.536 2.536 0 0 0-.915-.163c-.493 0-.942.06-1.353.131-.411.071-.75.153-1.008.245l-.257-1.749c.268-.093.668-.185 1.183-.278a9.335 9.335 0 0 1 1.66-.142l-.001-.001zm.181 7.731c.657 0 1.145-.038 1.484-.104v-2.168a5.097 5.097 0 0 0-1.978-.104c-.241.033-.46.098-.652.191a1.167 1.167 0 0 0-.466.392c-.121.169-.175.267-.175.523 0 .501.175.79.493.981.323.196.75.289 1.293.289h.001zM84.109 4.794c.707 0 1.304.087 1.786.262.482.174.871.42 1.156.73.29.316.487.735.608 1.182.126.447.186.937.186 1.476v5.481a25.24 25.24 0 0 1-1.495.251c-.668.098-1.419.147-2.251.147a6.829 6.829 0 0 1-1.517-.158 3.213 3.213 0 0 1-1.178-.507 2.455 2.455 0 0 1-.761-.904c-.181-.37-.274-.893-.274-1.438 0-.523.104-.855.307-1.215.208-.36.487-.654.838-.883a3.609 3.609 0 0 1 1.227-.49 7.073 7.073 0 0 1 2.202-.103c.257.027.537.076.833.147v-.349c0-.245-.027-.479-.088-.697a1.486 1.486 0 0 0-.307-.583c-.148-.169-.34-.3-.581-.392a2.536 2.536 0 0 0-.915-.163c-.493 0-.942.06-1.353.131-.411.071-.75.153-1.008.245l-.257-1.749c.268-.093.668-.185 1.183-.278a8.89 8.89 0 0 1 1.66-.142l-.001-.001zm.186 7.736c.657 0 1.145-.038 1.484-.104v-2.168a5.097 5.097 0 0 0-1.978-.104c-.241.033-.46.098-.652.191a1.167 1.167 0 0 0-.466.392c-.121.169-.175.267-.175.523 0 .501.175.79.493.981.318.191.75.289 1.293.289h.001zm8.682 1.738c-3.511.016-3.511-2.822-3.511-3.274L89.461.926l2.142-.338v10.003c0 .256 0 1.88 1.375 1.885v1.792h-.001z"
				fill="#182359"/>
			<path
				d="M5.027 11.025c0 .698-.252 1.246-.757 1.644-.505.397-1.201.596-2.089.596-.888 0-1.615-.138-2.181-.414v-1.214c.358.168.739.301 1.141.397.403.097.778.145 1.125.145.508 0 .884-.097 1.125-.29a.945.945 0 0 0 .363-.779.978.978 0 0 0-.333-.747c-.222-.204-.68-.446-1.375-.725-.716-.29-1.221-.621-1.515-.994-.294-.372-.44-.82-.44-1.343 0-.655.233-1.171.698-1.547.466-.376 1.09-.564 1.875-.564.752 0 1.5.165 2.245.494l-.408 1.047c-.698-.294-1.321-.44-1.869-.44-.415 0-.73.09-.945.271a.89.89 0 0 0-.322.717c0 .204.043.379.129.524.086.145.227.282.424.411.197.129.551.299 1.063.51.577.24.999.464 1.268.671.269.208.466.442.591.704.125.261.188.569.188.924l-.001.002zm3.98 2.24c-.924 0-1.646-.269-2.167-.808-.521-.539-.782-1.281-.782-2.226 0-.97.242-1.733.725-2.288.483-.555 1.148-.833 1.993-.833.784 0 1.404.238 1.858.714.455.476.682 1.132.682 1.966v.682H7.357c.018.577.174 1.02.467 1.329.294.31.707.465 1.241.465.351 0 .678-.033.98-.099a5.1 5.1 0 0 0 .975-.33v1.026a3.865 3.865 0 0 1-.935.312 5.723 5.723 0 0 1-1.08.091l.002-.001zm-.231-5.199c-.401 0-.722.127-.964.381s-.386.625-.432 1.112h2.696c-.007-.491-.125-.862-.354-1.115-.229-.252-.544-.379-.945-.379l-.001.001zm7.692 5.092l-.252-.827h-.043c-.286.362-.575.608-.865.739-.29.131-.662.196-1.117.196-.584 0-1.039-.158-1.367-.473-.328-.315-.491-.761-.491-1.337 0-.612.227-1.074.682-1.386.455-.312 1.148-.482 2.079-.51l1.026-.032v-.317c0-.38-.089-.663-.266-.851-.177-.188-.452-.282-.824-.282-.304 0-.596.045-.876.134a6.68 6.68 0 0 0-.806.317l-.408-.902a4.414 4.414 0 0 1 1.058-.384 4.856 4.856 0 0 1 1.085-.132c.756 0 1.326.165 1.711.494.385.329.577.847.577 1.552v4.002h-.902l-.001-.001zm-1.88-.859c.458 0 .826-.128 1.104-.384.278-.256.416-.615.416-1.077v-.516l-.763.032c-.594.021-1.027.121-1.297.298s-.406.448-.406.814c0 .265.079.47.236.615.158.145.394.218.709.218h.001zm7.557-5.189c.254 0 .464.018.628.054l-.124 1.176a2.383 2.383 0 0 0-.559-.064c-.505 0-.914.165-1.227.494-.313.329-.47.757-.47 1.284v3.105h-1.262V7.218h.988l.167 1.047h.064c.197-.354.454-.636.771-.843a1.83 1.83 0 0 1 1.023-.312h.001zm4.125 6.155c-.899 0-1.582-.262-2.049-.787-.467-.525-.701-1.277-.701-2.259 0-.999.244-1.767.733-2.304.489-.537 1.195-.806 2.119-.806.627 0 1.191.116 1.692.349l-.381 1.015c-.534-.208-.974-.312-1.321-.312-1.028 0-1.542.682-1.542 2.046 0 .666.128 1.166.384 1.501.256.335.631.502 1.125.502a3.23 3.23 0 0 0 1.595-.419v1.101a2.53 2.53 0 0 1-.722.285 4.356 4.356 0 0 1-.932.086v.002zm8.277-.107h-1.268V9.506c0-.458-.092-.8-.277-1.026-.184-.226-.477-.338-.878-.338-.53 0-.919.158-1.168.475-.249.317-.373.848-.373 1.593v2.949h-1.262V4.801h1.262v2.122c0 .34-.021.704-.064 1.09h.081a1.76 1.76 0 0 1 .717-.666c.306-.158.663-.236 1.072-.236 1.439 0 2.159.725 2.159 2.175v3.873l-.001-.001zm7.649-6.048c.741 0 1.319.269 1.732.806.414.537.62 1.291.62 2.261 0 .974-.209 1.732-.628 2.275-.419.542-1.001.814-1.746.814-.752 0-1.336-.27-1.751-.811h-.086l-.231.704h-.945V4.801h1.262v1.987l-.021.655-.032.553h.054c.401-.591.992-.886 1.772-.886zm-.328 1.031c-.508 0-.875.149-1.098.448-.224.299-.339.799-.346 1.501v.086c0 .723.115 1.247.344 1.571.229.324.603.486 1.123.486.448 0 .787-.177 1.018-.532.231-.354.346-.867.346-1.536 0-1.35-.462-2.025-1.386-2.025l-.001.001zm3.244-.924h1.375l1.209 3.368c.183.48.304.931.365 1.354h.043c.032-.197.091-.436.177-.717.086-.281.541-1.616 1.364-4.004h1.364l-2.541 6.73c-.462 1.235-1.232 1.853-2.31 1.853-.279 0-.551-.03-.816-.091v-.999c.19.043.406.064.65.064.609 0 1.037-.353 1.284-1.058l.22-.559-2.385-5.941h.001z"
				fill="#1D3657"/>
		  
		
	  
	
  
</script>

<script type="text/html" id="tmpl-autocomplete-empty">
  <div class="autocomplete-empty">
	  No results matched your query 	<span class="empty-query">"{{ data.query }}"
  
</script>

<script type="text/javascript">
  jQuery(function () {
	/* init Algolia client */
	var client = algoliasearch(algolia.application_id, algolia.search_api_key);

	/* setup default sources */
	var sources = [];
	jQuery.each(algolia.autocomplete.sources, function (i, config) {
	  var suggestion_template = wp.template(config['tmpl_suggestion']);
	  sources.push({
		source: algoliaAutocomplete.sources.hits(client.initIndex(config['index_name']), {
		  hitsPerPage: config['max_suggestions'],
		  attributesToSnippet: [
			'content:10'
		  ],
		  highlightPreTag: '__ais-highlight__',
		  highlightPostTag: '__/ais-highlight__'
		}),
		templates: {
		  header: function () {
			return wp.template('autocomplete-header')({
			  label: _.escape(config['label'])
			});
		  },
		  suggestion: function (hit) {
      if(hit.escaped === true) {
        return suggestion_template(hit);
      }
      hit.escaped = true;

			for (var key in hit._highlightResult) {
			  /* We do not deal with arrays. */
			  if (typeof hit._highlightResult[key].value !== 'string') {
				continue;
			  }
			  hit._highlightResult[key].value = _.escape(hit._highlightResult[key].value);
			  hit._highlightResult[key].value = hit._highlightResult[key].value.replace(/__ais-highlight__/g, '<em>').replace(/__\/ais-highlight__/g, '');
			}

			for (var key in hit._snippetResult) {
			  /* We do not deal with arrays. */
			  if (typeof hit._snippetResult[key].value !== 'string') {
				continue;
			  }

			  hit._snippetResult[key].value = _.escape(hit._snippetResult[key].value);
			  hit._snippetResult[key].value = hit._snippetResult[key].value.replace(/__ais-highlight__/g, '<em>').replace(/__\/ais-highlight__/g, '');
			}

			return suggestion_template(hit);
		  }
		}
	  });

	});

	/* Setup dropdown menus */
	jQuery(algolia.autocomplete.input_selector).each(function (i) {
	  var $searchInput = jQuery(this);

	  var config = {
		debug: algolia.debug,
		hint: false,
		openOnFocus: true,
		appendTo: 'body',
		templates: {
		  empty: wp.template('autocomplete-empty')
		}
	  };

	  if (algolia.powered_by_enabled) {
		config.templates.footer = wp.template('autocomplete-footer');
	  }

	  /* Instantiate autocomplete.js */
	  var autocomplete = algoliaAutocomplete($searchInput[0], config, sources)
	  .on('autocomplete:selected', function (e, suggestion) {
		/* Redirect the user when we detect a suggestion selection. */
		window.location.href = suggestion.permalink;
	  });

	  /* Force the dropdown to be re-drawn on scroll to handle fixed containers. */
	  jQuery(window).scroll(function() {
		if(autocomplete.autocomplete.getWrapper().style.display === "block") {
		  autocomplete.autocomplete.close();
		  autocomplete.autocomplete.open();
		}
	  });
	});

	jQuery(document).on("click", ".algolia-powered-by-link", function (e) {
	  e.preventDefault();
	  window.location = "https://www.algolia.com/?utm_source=WordPress&utm_medium=extension&utm_content=" + window.location.hostname + "&utm_campaign=poweredby";
	});
  });
</script>
</head>

<body class="post-template-default single single-post postid-252 single-format-standard wp-custom-logo elara-background-color-default">

	<div class="header" role="banner">

		<div class="widget-area widget-area-header">
	<div class="container-wrap">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar-top sidebar-top-left col-md-4 col-xs-12">
											<div class="header-widget widget widget_nav_menu menu example-header-sidebar"> 		<ul>
			<li class="page_item page-item-1017"><a href="http://girlintheraw.com/ayurveda-training/">Ayurveda training</a></li>
<li class="page_item page-item-1002"><a href="http://girlintheraw.com/yoga-and-ayurveda-200hr-teacher-training/">Yoga and Ayurveda 200hr Teacher Training</a></li>
		</ul>
			</div>									</div>
				<div class="sidebar-top sidebar-top-center col-md-4 col-xs-12">
									</div>
				<div class="sidebar-top sidebar-top-right col-md-4 col-xs-12">
											<div class="header-widget widget widget_search example-header-sidebar"><form role="search" method="get" class="search-form" action="http://girlintheraw.com/">
	<input type="search" class="search-field" value="" name="s" placeholder="Search">
	<button type="submit" class="search-submit">
		<i class="fa fa-search"></i>		<span>Search</span>
	</button>
</form></div>									</div>
			</div>
		</div>
	</div>
</div>
<div class="header-toggle"><i class="fa fa-angle-down"></i></div>
<div class="default-background-color">
	<div class="logo">
					<div class="header-logo-text">
				<a href="http://girlintheraw.com/">Girl In The Raw</a>
			</div>
			</div>
</div><div class="default-background-color">
	<div class="wrapper wrapper-nav">
		<nav class="main-navbar navbar navbar-default" id="main-navbar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".wrapper-nav .navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="main-menu" class="navbar-collapse collapse menu-container"><ul id="menu-categories" class="nav navbar-nav menu"><li id="menu-item-976" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-976 dropdown"><a href="http://girlintheraw.com/category/recipes/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Recipes <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-977" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-977"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a></li>
	<li id="menu-item-978" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-978"><a href="http://girlintheraw.com/category/entrees/">Entrees</a></li>
	<li id="menu-item-983" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-983"><a href="http://girlintheraw.com/category/salad/">Salad</a></li>
	<li id="menu-item-981" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-981"><a href="http://girlintheraw.com/category/snacks/">Snacks</a></li>
	<li id="menu-item-984" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-984"><a href="http://girlintheraw.com/category/dessert/">Dessert</a></li>
	<li id="menu-item-987" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-987"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a></li>
	<li id="menu-item-982" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-982"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a></li>
</ul>
</li>
<li id="menu-item-973" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-973"><a href="http://girlintheraw.com/category/yoga/">Yoga</a></li>
<li id="menu-item-971" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-has-children menu-item-971 dropdown"><a href="http://girlintheraw.com/category/lifestyle/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Lifestyle <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-972" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-972"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a></li>
	<li id="menu-item-975" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-975"><a href="http://girlintheraw.com/category/reviews/">Reviews</a></li>
	<li id="menu-item-974" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-974"><a href="http://girlintheraw.com/category/travel/">Travel</a></li>
	<li id="menu-item-988" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-988"><a href="http://girlintheraw.com/category/fashion/">Fashion</a></li>
</ul>
</li>
<li id="menu-item-979" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-979 dropdown"><a href="http://girlintheraw.com/category/fitness/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Fitness <span class="caret 0 "></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-980" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-980"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a></li>
	<li id="menu-item-986" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-986"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a></li>
</ul>
</li>
</ul></div>		</nav>
	</div>
</div>	</div>
<div class="default-background-color">
	<main class="main" role="main">
		<div class="wrapper">
				
					<div class="entry-thumb">

									<a href="http://girlintheraw.com/2014/12/16/holiday-gift-guide-for-yogis/" rel="bookmark">
				
									<img width="650" height="680" src="/wp-content/uploads/2018/07/prana-vasistasana3.jpg" class="img-responsive wp-post-image" alt="Holiday Gift Guide for Yogis" srcset="/wp-content/uploads/2018/07/prana-vasistasana3.jpg 1147w,/wp-content/uploads/2018/07/prana-vasistasana3-287x300.jpg 287w,/wp-content/uploads/2018/07/prana-vasistasana3-768x803.jpg 768w,/wp-content/uploads/2018/07/prana-vasistasana3-979x1024.jpg 979w" sizes="(max-width: 650px) 100vw, 650px">				
									</a>
				
			</div>				<div class="row post-sidebar-on">
					<div class="col-md-9 col-xs-12 entry-singular-wrapper">
						<article id="post-252" class="entry-singular post-252 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion category-lifestyle category-yoga tag-christmas tag-gift-guide tag-holidays tag-yoga">
							
									<footer class="entry-meta">
										<div>
														<span class="entry-category"><a href="http://girlintheraw.com/category/fashion/" rel="category tag">Fashion</a>, <a href="http://girlintheraw.com/category/lifestyle/" rel="category tag">Lifestyle</a>, <a href="http://girlintheraw.com/category/yoga/" rel="category tag">Yoga</a></span>											<span class="entry-separator"> / </span>											<span class="entry-date">December 16, 2014</span>										</div>
									</footer>

									<header class="entry-header">
										<h1 class="entry-title">Holiday Gift Guide for Yogis</h1>										<span class="entry-author">by <a href="http://girlintheraw.com/author/matea/">matea</a></span>									</header>

                                    
									<div class="entry-content clearfix">
										<p>Holidays are here and we’ve got some gifting to do! The custom of giving and receiving thoughtful gifts exists in almost every culture across the world, and I for one LOVE IT! And to me, Christmas, Hanukah and New Years time period is just another opportunity to show your care and love to your friends and family. You might wonder, however, if you need a special gift guide for Yogis!</p>
<p>If you know someone obsessed with yoga, or are a yogi yourself with tons of friends at your local studio to gift this season, do not fear, I got you covered. Knowing your audience and their passions, hobbies and interests is a perfect tool to find them an appropriate gift!</p>
<p><img alt="Outfit: Funky yoga tank + Lululemon Wunder Under's" src="/wp-content/uploads/2018/07/yoga-tree.jpg"></p>
<p>Before we get into all the fabulous shopping opportunities, I would like to acknowledge this is also a <strong>great season to be thankful</strong> for all we have and not waste our resources and get caught in the shopping fever if we can avoid it. Yogis in particular know there is more to life than just material things in life, and always seek for deeper meaning in everything. So wether you want to drop an item in the basket to feed the homeless this season, or donate to a good cause, it is always very rewarding to do something nice for those that truly need it, people you may not even know. Being grateful and conscious of your actions is a reward in itself, and you can apply it in many different ways this season.</p>
<p><strong>Here are a few simple tips on staying grounded, grateful and conscious this season:</strong></p>
<ul>
<li>
Keep an <strong>ECO-CONSCIOUS </strong>attitude when shopping and wrapping gifts! Use reusable bags, recycled materials, and avoid unnecessary wrapping that will become garbage as soon as Christmas day comes. From purchasing recycled paper wrapping, to using textile materials (think bandanas and scarves) to wrap presents, to skipping fancy wrapping if you are gifting someone very familiar who you know doesn’t care for it much – there are tons of ways to stay eco friendly this season. If you want to take it a step further, take a moment to consider how eco-conscious the brand or product you are gifting is! From reading the label (search for Made locally, Not tested on animals, No artificial ingredients) to shopping locally and from a small company as opposed to a retail giant, the more conscious your gift the better it is for the planet, for the economy, for our future. And know that there is a good chance the yogi you are gifting will appreciate your mindful attitude very much!<br>
 
</li>
<li>
Stay <strong>PRACTICAL</strong>. I love gifts I can use, gifts that mean something, gifts that are edible (hint hint). I have been on a receiving end of a gift that was given just for the sake of social customs and the situation we were in, and I could not only tell, but I unfortunately did not appreciate it as much. Refrain from giving meaningless items from the gift shop just because you think you have to. Either put some practical thought into your gift, or skip it if the person you are gifting actually doesn’t mean much to you. I’m not saying give someone a box of garbage bags because, you know, everyone needs that. But there are plenty of gifts out there that can be pretty, thoughtful and useful!<br>
 
</li>
<li>
Become a crafter or find one and gift <strong>HANDMADE</strong> items. From hitting up the Etsy search, to visiting local fares and markets, to getting down and dirty yourself, you are guaranteed to give a unique, memorable gift! Nothing speaks care and love more to me than a handmade gift, honestly. Just putting your own creativity, time and effort into it is priceless. If you are not too creative yourself, finding a handmade item is the next best thing. You are supporting a local business or a cause and making someone’s holidays worth while by purchasing the product of their hard work (I am speaking from personal experience as a crafter of Yogi jewelry).<br>
 
</li>
<li>
Give the <strong>GIFT OF YOU</strong>. Believe it or not, there are a lot of people in your life that appreciate you more than any material item you can gift them with. Give your <strong>time</strong>, <strong>energy</strong> and <strong>emotions </strong>to those you feel deserve it, and those you want to spend it with. Also know to conserve the same when needed. This is the season to be busy and stressful as well, so keep your own health and sanity in mind. Giving HUGS, KISSES and KIND WORDS is free, yet priceless. Increase your lovey dovey attitude and share care and affection with others this season. It may be a cliche, but we all get a bit more emotional, maybe a bit more nostalgic, even lonely around the holidays. A hug and a smile can brighten someone’s day – and make you happy as well!<br>
Taking all that in mind, it’s always nice to drop a gift under the Christmas tree that will make someone’s face light up with a smile!
</li>
</ul>
<h5 id="here-is-my-gift-guide-with-fabulous-yoga-inspired-holiday-products"><strong>Here is my gift guide with fabulous Yoga inspired holiday products:</strong></h5>
<h4 id="1-yoga-inspired-jewelry"><strong>1. Yoga Inspired Jewelry</strong></h4>
<p>If your yogi loves their yoga so much they look like they are going to class all the time, they will probably enjoy a beautiful yoga jewelry piece that can remind them of their favorite pastime – at all times! Etsy is a good marketplace for these products – and you will be supporting a local business or an individual with a passion.</p>
<ul>
<li>
<h4 id="yogala-jewelry"><strong>Yogala Jewelry</strong></h4>
<p><img alt="Shiva Yoga Mala" src="/wp-content/uploads/2018/07/shivamala.jpg"></p></li>
</ul>
<p>How can I not mention my own product? I make unique handmade Yoga Malas and Bracelets. Malas were originally Hindu and Buddhist prayer beads, consisting of 108 sacred beads used to meditate and chant mantras on. They were also worn by devotees of yogi cultures to show their preference and represent their culture or practices. Today they have grown to be a very recognizable fashion item amongst yogis all over the world. A boho or hippie style fashionista can be caught wearing them as well! I use materials from India and South America, and offer various collections (Chakra, Shiva, Aura to name a few). You will find a pice of jewelry for a Yoga dude in your life as well!</p>
<p><img alt="Goddess of Love Mala" src="/wp-content/uploads/2018/07/love.jpg"></p>
<h3 id="246-fancy-yoga-pants"><strong>2. Fancy Yoga Pants</strong></h3>
<p>I would be lying if I said that I have enough yoga pants. It is by all means true – if I don’t buy a pair for the next two years, and practice yoga every day, I will still have enough yoga pants to survive the period. But yoga pants are just awesome! They come in cool, colorful, comfortable styles and fits! You can (and will) wear them outside of the yoga studio. They will become the most comfortable pair you will ever try in your life. Yes, I am wearing yoga pants as I am typing this (and this is not the first blog post I have admitted this in). Brands: Lululemon, Athleta, Alo Yoga.</p>
<ul>
<li>
<h4 id="lululemon"><strong>Lululemon</strong></h4>
<p>This is probably the most popular yoga brand today. It is a great big retailer, so you are not supporting a local business by getting a pair of yoga pants from them (unless you live in Vancouver where the brand originates from). I have personally worked for the company in the past and have a bit of an insight into their company – it supports local yoga instructors, studios and business, and encourages their employees to ‘sweat’ regularly. They are not without their share of controversy, however (hello see through pants), but regardless maintain their status as a go-to yoga brand. And their products are of a good quality in my opinion. If you are new to finding a gift for a yogi, or know your yogi person loves lulu, give it a try. Unless you buy something on markdown (sale), it’s pretty easy to return or exchange their gifts within two weeks.</p></li>
</ul>
<p>Product spotlight:<strong> Wunder Under Pants</strong></p>
<p><img alt="Source: Lululemon.com" src="/wp-content/uploads/2018/07/lulu-pants.jpeg"></p>
<p>They come in long and crop. These are the most common yoga pants you will find, they always carry the model regardless of the season. However, besides the regular black they come in fun patterns and colors, with an option of luon (cottony) and luxtreme (more sweat wicking) fabric. I definitely advise you to get creative! We yogis love colorful funky pants. Price: $82.00+ Capris. $92.00-102.00 Tights.</p>
<ul>
<li>
<h4 id="athleta"><strong>Athleta</strong></h4>
<p>The newbie on the blog, they are soon rising to rival all the major athletic brands. As of today, they still do not have a men’s section in the shop – so if you are shopping for a guy’s and girls gift and are trying to get it done in one place, this shop may not work. Their products are comfy, good quality, and have lot’s of street style options.</p></li>
</ul>
<p>Product spotlight: <strong>Chaturanga Tight</strong></p>
<p><img alt="Source: Pinterest" src="/wp-content/uploads/2018/07/athleta-pants.jpg"></p>
<p>Athleta has a whole section on their website for printed pants, so you can feast your eyes on all but the basic black styles in one place. The <em>Chanturaga</em> thight (notice the yogi name) is your basic yoga pant – easy to move in, comfortable mid rise waist, decent quality. Comes in capri and long. Price: $64.00 and up capri. $74.00 and up tight.</p>
<ul>
<li>
<h4 id="alo-yoga"><strong>Alo Yoga</strong></h4>
<p>These guys have been blowing up my Instagram feed for a while now. Their style is unique, and the pictures of model-like yogis flying effortlessly in advanced yoga poses on beautiful beaches are just envy-inducing. It seems like everyone who is anyone in the yoga world is wearing them these days. The unique style that immediately stands out are the two-toned leggings.</p></li>
</ul>
<p>Product Spotlight: <strong>Goddess Leggings</strong></p>
<p><img alt="Source: Pinterest" src="/wp-content/uploads/2018/07/alo.jpg"></p>
<p>These definitely earn the originality contest – when I first saw them, I thought they were socks on top of pants I did! They come in all kinds of funky colors and patters, and color blocking never seemed more in style. Price: $92.00.</p>
<ul>
<li><strong>Bonus: H&M Sport Tights</strong></li>
</ul>
<p><img alt="Source: hm.com" src="/wp-content/uploads/2018/07/hmprod.jpeg">]</p>
<p>Don’t feel like lashing out a $100 for a pair of yoga pants (either for yourself or someone else)? I totally get it! H&M was a dream when I was a teenager, and they are still raging strong all over the world today. These tights will cost you a fraction of the price, and still deliver the cool wow factor. Price $30.</p>
<h4 id="346-yoga-inspired-tops"><strong>3. Yoga inspired Tops</strong></h4>
<p>Since we are talking about yoga fashion – we can’t have bottoms without tops! You can gift your yogi friend with a whole outfit if you will, and they will surely be beyond grateful. The previously mentioned brands carry all the products for yoga you can imagine, from socks to headbands, and while you are browsing for yoga pants, you can check out tank tops and shits as well. You are sure to find a matching set from the same brand as well.</p>
<ul>
<li>
<h4 id="vegan-yogi-unicorn"><strong>Vegan Yogi Unicorn</strong></h4>
</li>
</ul>
<p><img alt="" src="/wp-content/uploads/2018/07/vyu2.png"></p>
<p>Lauren, the girl behind Vegan Yogi Unicorn, is a yoga instructor, a vegan and an adventurer! She’s a friend of mine via the all powerful Instagram, we have hosted a couple of yoga challenges together. I just love her Goddess Tank, it’s a great piece to wear with yoga pants or jeans, and your yogi will feed inspired to strike a pose no matter the time and place – just like me here! You will be supporting a small business, and know that all your pieces are made <em>ahimsa</em> (non-violence) style – no animal products or abuse involved! Check http://www.veganyogiunicorn.com/. Price: $20+.</p>
<ul>
<li>
<h4 id="funky-yoga"><strong>Funky Yoga</strong></h4>
</li>
</ul>
<p><img alt="" src="/wp-content/uploads/2018/07/funky2.jpg"></p>
<p>Another business that started small and is steadily growing, that makes yogi fashion their priority. Comfortable tanks, shirts, pants, bags and even door mats from this company. I am an ambassador for Funky yoga, and love their tanks because they are colorful, soft and comfy, and I definitely wear them off-duty as well. Check out www.funkyyoga.com. Price: $30+.</p>
<h4 id="446-a-yoga-book"><strong>4. A Yoga Book</strong></h4>
<p>Now we are getting deep and meaningful. A ‘gift that keeps on giving’ as they say, is the gift of knowledge. Depending on how committed your yogi friend is, they might be bringing their yoga off the mat and into their every day lives by practicing some of it’s principles and teachings. Yoga promotes patience, balance, non-violence and many more noble values. The culture and practice has existed for thousands of years, and throughout history many books have been written on the subject.</p>
<ul>
<li>
<h4 id="bhagavad-gita"><strong>Bhagavad Gita</strong></h4>
</li>
</ul>
<p><img alt="" src="/wp-content/uploads/2018/07/Bhagavad-gita-front.jpg"></p>
<p>By far my favorite yoga book, basically the ‘Bible’ of yoga, is the Bhagavad Gita. It has many editions and translations (it’s originally written in Sanskrit, the same language those weird yoga pose names are in), and I find this version by Swami Prabhupada the most profound one. The gem of yoga philosophy, this book has a recommendation quote by Einstein himself on the back. This is a deep and thoughtful book, for those yogis that seem to take their practice to the next level.</p>
<ul>
<li>
<h4 id="light-on-yoga"><strong>Light on Yoga</strong></h4>
</li>
</ul>
<p><img alt="" src="/wp-content/uploads/2018/07/light-on-yoga.jpg"></p>
<p>Another yogi ‘Bible’, but this time focusing on the physical practice and the asanas or poses, is the Light on Yoga by B.K.S. Iyengar, the master of modern yoga himself. Mister Iyengar passed away just this year (2014), and was practicing till the very last breath in his ripe age of 96. If you know a yogi that’s embarking on a teacher training journey to become an instructor, know that this book is the basics in any yoga training I know of. You will be completing their handbook requirements with this one for sure.</p>
<h4 id="546-yoga-journal"><strong>5. Yoga Journal</strong></h4>
<p>Yoga Journal is the magazine of yoga, and they have been stronger than ever. From advice by the teaching elite of yoga today, to detailed descriptions of poses in every issue, to articles on how to live a yogi life, this magazine has it all. Whether you want to pick up an issue or gift a subscription, I’m sure your yogi friend will love it. Price: about $14.00 for a subscription.</p>
<p><img alt="" src="/wp-content/uploads/2018/07/coversquare.jpg"></p>
<ul>
<li><strong>Yoga Journal Conference</strong><br>
If you want to get real fancy, know that this magazine throws a handful of yearly conferences all over the US. Conferences usually last a long weekend (Thursday – Sunday), and are a gathering of yogis from not only this nation but all over the world, coming together to learn and practice from the masters. Besides classes, they also hold a market place with yogi products, kirtan concerts with famous yogi musicians (MC Yogi, Dj Drez, Mayapuris), talks by important persons of today (such as Marianne Williams or Deepak Chopra) and much more. You can get your yogi a day pass or a whole conference (starting at about $150 per day). More info: http://www.yjevents.com/.</li>
</ul>
<h4 id="646-yoga-concert"><strong>6. Yoga Concert</strong></h4>
<p>I love a special yoga event, and if it contains live music, even better! Getting your yogi a ticket to a special yoga event in their neighborhood is a good way to give an experience as opposed to a product. A bonus feature is that you can attend the event with them! Bonding experience: check!</p>
<ul>
<li>
<h4 id="jai-uttal"><strong>Jai Uttal</strong></h4>
<p><img alt="" src="/wp-content/uploads/2018/07/freebiebanner.jpg"></p></li>
</ul>
<p>I love this guy! I just saw him in a concert in San Francisco (he has a lot of holiday events planned, including a retreat over New Years) with Ben Leinbach, another great musician. Live kirtan devotional music with rock elements. Check www.jaiuttal.com for events. Price: $25.00 and up for 1 night event.</p>
<ul>
<li>
<h4 id="krsna-das"><strong>Krsna Das</strong></h4>
<p><img alt="" src="/wp-content/uploads/2018/07/krsnadas.jpg"></p></li>
</ul>
<p>Another great and well known musician, his concerts will be fun for newbies and seasoned yogis alike! Check: www.krishnadas.com. Price: $25.00 and up.</p>
<h4 id="_1"></h4>
<h4 id="746-cd-or-itunes-card"><strong>7. CD or iTunes Card</strong></h4>
<p>If you can’t give a live music experience, a CD will do! Yogis have their own taste in music, and if you are gifting a Yoga Instructor know they will appreciate a nice melody even more so! We instructors always run out of ideas what to play in class, or just need to switch it up once in a while. The more I teach, the more music I need for mu classes and I like to mix it up and keep it fresh as much as possible. If you are not sure about their taste in music, an iTunes card is a great gift for anyone really!</p>
<p>Wonderful Yogi Musicians: Besides the aforementioned Jai Uttal and Krsna Das, I really like Deva Pramal, Snatam Kaur, Mayapuris, Gaura Vani, Yoga Pop Ups (famous musicians reinvented as relaxing yoga music), MC Yogi, DJ Drez.</p>
<p><img alt="" src="/wp-content/uploads/2018/07/Shanti-Snatam.jpg"></p>
<h4 id="846-yoga-event-or-retreat"><strong>8. Yoga event or retreat</strong></h4>
<p>Well duh! – who wouldn’t like a yoga retreat?! Considering the median price for a retreat would be $1500 without the plane ticket, this is obviously a fancy gift that few yogis have even given themselves. But if you have a burning desire to take your yoga BFF for an exotic adventure, this is always a great option. (OK, so I know this probably won’t happen. But a yogi can dream, right?).</p>
<ul>
<li>
<h4 id="wanderlust"><strong>Wanderlust</strong></h4>
<p><img alt="Source: wanderlust.com" src="/wp-content/uploads/2018/07/wanderlustfestival.jpg"></p></li>
</ul>
<p>This is a great option next to a full blown yoga retreat, specially if you live in or close to one of the Wunderlust locations! They are 4 day celebrations of yoga, music, food and all over fun. Held at wonderful locations all over the US, Canada, Hawaii and with an addition of Australia, they combine love of outdoors, fun activities (hiking, stand up paddle boarding) and yoga. You can get a 1 day pass at about $100, 4 days at $400+.</p>
<h4 id="946-yoga-class-pass"><strong>9. Yoga Class Pass</strong></h4>
<p>Whether you want to introduce your friend to a new yoga studio in town, invite them to practice at your joint, or just upgrade their pass at the studio they have known and loved for some time, a yoga class pass is always a great deal! Check out the local yoga studios on Om Finder App, Yelp, or just Google. Visit their websites – they should all have class package menus online. You can call or visit to get more information, and a feel for the place. You will be gifting your yogi with an experience, saved them money, and keep them healthy all in one! A true practical gift. Price: $10-20 per single class. $60+ per monthly package.</p>
<h4 id="1046-yoga-stocking-stuffers"><strong>10. Yoga Stocking Stuffers:</strong></h4>
<p>Can’t decide on just one gift? Have too many yogis on your list? Head out and pick up a few cool items as stocking stuffers for all your yogi friends and the girls from the studio! These products are practical, versatile and all over fun!</p>
<ul>
<li>
<h4 id="headbands"><strong>Headbands </strong></h4>
<p>Check out any yoga or sports brand, like the aforementioned Lululemon or Athleta. They come in fun styles and colors, and you can pick up a pack of few for a fun gift with style options depending on the yoga outfit.
</p></li>
<li>
<h4 id="reusable-water-bottles"><strong>Reusable Water bottles </strong></h4>
<p>This is a gift everyone should get in their stocking this year if you ask me! Not only should we conserve the planet by eliminating single plastic bottle usage, but we should all always carry a bottle of water to keep hydrated and healthy! I love glass or aluminium, but if going for plastic make sure its BPA free.
</p></li>
<li>
<h4 id="mat-sling-or-bag"><strong>Mat sling or bag</strong></h4>
<p>Even if they have one already, these easily get lost or misplaced. I like to have an extra mat carrier in the car just in case.
</p></li>
<li>
<h4 id="yoga-towel-small-or-mat-size"><strong>Yoga Towel (Small or mat size)</strong></h4>
<p>Gaiam, Manduka, Lululemon, all major mat brands carry these. Wether its a small towel to whip the face or a full on mat towel for a hot yoga class, these are awesome practical gifts.
</p></li>
<li>
<h4 id="yoga-dvd-or-online-membership"><strong>Yoga DVD or Online membership</strong></h4>
<p>For the shy, busy, stay-at-home-mom yogi, having the opportunity to practice in the comfort of their own home is a gift in it’s own. If you are not sure which DVD to choose, check a local yoga studio, they sell them. Rodney Lee is a pretty popular guy, Sean Corn and Shiva Rea are a few of my favorites. YogaGlo.com, YogaVibes.com, GaiamTV.com are a few respectable online yoga resources that sell memberships and packages.
</p></li>
<li>
<h4 id="yoga-stickers"><strong>Yoga Stickers</strong></h4>
<p>For those hard core yogis that want to show their love for the practice on the rear end of a car! From Namaste to funny yoga puns, this is the ultimate stocking stuffer.
</p></li>
</ul>
<p><img alt="" src="/wp-content/uploads/2018/07/gift.jpg"></p>
																			</div>

									<footer class="entry-meta">
										<h3 class="section-title">Tags</h3><ul><li class="list-item-separators"><a href="http://girlintheraw.com/tag/christmas/" rel="tag">Christmas</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/gift-guide/" rel="tag">Gift Guide</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/holidays/" rel="tag">Holidays</a></li><li class="list-item-separators"><a href="http://girlintheraw.com/tag/yoga/" rel="tag">Yoga</a></li></ul>									</footer>

								
	<nav class="navigation post-navigation" role="navigation" aria-label="Posts">
		<h2 class="screen-reader-text">Post navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="http://girlintheraw.com/2014/12/11/gluten-free-vegan-holiday-pancakes/" rel="prev"><i class="fa fa-long-arrow-left"></i> Gluten Free Vegan Holiday Pancakes</a></div><div class="nav-next"><a href="http://girlintheraw.com/2014/12/27/10-best-foods-for-runners-2/" rel="next">10 Best Foods for Runners <i class="fa fa-long-arrow-right"></i></a></div></div>
	</nav>
<div id="disqus_thread"></div>
						</article>
					</div>

					
<div class="widget-area widget-area-sidebar col-md-3 col-xs-12" role="complementary">
				<div class="sidebar-default">
				<div id="search-2" class="default-widget widget widget_search"><form role="search" method="get" class="search-form" action="http://girlintheraw.com/">
	<input type="search" class="search-field" value="" name="s" placeholder="Search">
	<button type="submit" class="search-submit">
		<i class="fa fa-search"></i>		<span>Search</span>
	</button>
</form></div><div id="about_me_widget-2" class="default-widget widget the_about_me_widget"><h3 class="widget-title">About Me</h3><div class="widget_image"><img src="/wp-content/uploads/2019/03/IMG_9814.jpg" alt="About Me"></div>Hi! My name is Matea, and welcome to my blog. I share my thoughts about everything from vegan food to yoga to travel, all with a purpose to create a community of people looking to uplift each other while making this world a better place. Do I sound like a cheesy millennial? I guess I can live with that. I really do mean it, though. I teach yoga and run my business Hari OM Yoga & Wellness in gorgeous Costa Rica. Come see me sometime.</div>		<div id="recent-posts-2" class="default-widget widget widget_recent_entries">		<h3 class="widget-title">Recent Posts</h3>		<ul>
											<li>
					<a href="http://girlintheraw.com/2020/01/26/birthday-reflections/">Birthday Reflections</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/06/04/nuzest-plant-based-protein-powder-review-with-smoothie-recipe/">Nuzest plant-based protein powder review with Smoothie recipe</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/03/26/race-recap-rock-n-roll-marathon-medellin/">Race recap: Rock ‘n’ Roll Marathon Medellin</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/06/25/ironman-70-3-costa-rica-2018-race-recap/">Ironman 70.3 Costa Rica 2018 race recap</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/02/18/yoga-and-ayurveda-teacher-training-in-costa-rica/">Yoga and Ayurveda teacher training in Costa Rica</a>
									</li>
					</ul>
		</div><div id="categories-2" class="default-widget widget widget_categories"><h3 class="widget-title">Categories</h3>		<ul>
				<li class="cat-item cat-item-143"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a>
</li>
	<li class="cat-item cat-item-144"><a href="http://girlintheraw.com/category/dessert/">Dessert</a>
</li>
	<li class="cat-item cat-item-145"><a href="http://girlintheraw.com/category/entrees/">Entrees</a>
</li>
	<li class="cat-item cat-item-159"><a href="http://girlintheraw.com/category/fashion/">Fashion</a>
</li>
	<li class="cat-item cat-item-146"><a href="http://girlintheraw.com/category/fitness/">Fitness</a>
</li>
	<li class="cat-item cat-item-147"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a>
</li>
	<li class="cat-item cat-item-148"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a>
</li>
	<li class="cat-item cat-item-149"><a href="http://girlintheraw.com/category/lifestyle/">Lifestyle</a>
</li>
	<li class="cat-item cat-item-150"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a>
</li>
	<li class="cat-item cat-item-161"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a>
</li>
	<li class="cat-item cat-item-151"><a href="http://girlintheraw.com/category/recipes/">Recipes</a>
</li>
	<li class="cat-item cat-item-152"><a href="http://girlintheraw.com/category/reviews/">Reviews</a>
</li>
	<li class="cat-item cat-item-153"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a>
</li>
	<li class="cat-item cat-item-154"><a href="http://girlintheraw.com/category/salad/">Salad</a>
</li>
	<li class="cat-item cat-item-156"><a href="http://girlintheraw.com/category/snacks/">Snacks</a>
</li>
	<li class="cat-item cat-item-157"><a href="http://girlintheraw.com/category/travel/">Travel</a>
</li>
	<li class="cat-item cat-item-163"><a href="http://girlintheraw.com/category/wellness/">Wellness</a>
</li>
	<li class="cat-item cat-item-158"><a href="http://girlintheraw.com/category/yoga/">Yoga</a>
</li>
		</ul>
			</div><div id="meta-2" class="default-widget widget widget_meta"><h3 class="widget-title">Meta</h3>			<ul>
						<li><a href="http://girlintheraw.com/wp-login.php">Log in</a></li>
			<li><a href="http://girlintheraw.com/feed/">Entries feed</a></li>
			<li><a href="http://girlintheraw.com/comments/feed/">Comments feed</a></li>
			<li><a href="https://wordpress.org/">WordPress.org</a></li>			</ul>
			</div>			</div></div>
				</div>
		</div>
	</main>
</div>

	<div class="footer footer-columns" role="contentinfo">
		<div class="default-background-color">
			<div class="wrapper">
			

    <div class="widget-area widget-area-footer widget-area-footer-columns" role="complementary">

        
        <div class="row footer-columns footer-columns-5">

                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-1">
                        <div class="default-widget widget widget_recent_comments example-footer-sidebar"><h3 class="widget-title">Recent Comments</h3><ul id="recentcomments"></ul></div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-2">
                        <div class="default-widget widget widget_nav_menu menu example-footer-sidebar"><h3 class="widget-title">Pages</h3>		<ul>
			<li class="page_item page-item-1017"><a href="http://girlintheraw.com/ayurveda-training/">Ayurveda training</a></li>
<li class="page_item page-item-1002"><a href="http://girlintheraw.com/yoga-and-ayurveda-200hr-teacher-training/">Yoga and Ayurveda 200hr Teacher Training</a></li>
		</ul>
			</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-3">
                        <div class="default-widget widget widget_categories example-footer-sidebar"><h3 class="widget-title">Categories</h3>		<ul>
				<li class="cat-item cat-item-143"><a href="http://girlintheraw.com/category/breakfast/">Breakfast</a>
</li>
	<li class="cat-item cat-item-144"><a href="http://girlintheraw.com/category/dessert/">Dessert</a>
</li>
	<li class="cat-item cat-item-145"><a href="http://girlintheraw.com/category/entrees/">Entrees</a>
</li>
	<li class="cat-item cat-item-159"><a href="http://girlintheraw.com/category/fashion/">Fashion</a>
</li>
	<li class="cat-item cat-item-146"><a href="http://girlintheraw.com/category/fitness/">Fitness</a>
</li>
	<li class="cat-item cat-item-147"><a href="http://girlintheraw.com/category/health-and-nutrition/">Health and Nutrition</a>
</li>
	<li class="cat-item cat-item-148"><a href="http://girlintheraw.com/category/juices-and-smoothies/">Juices and Smoothies</a>
</li>
	<li class="cat-item cat-item-149"><a href="http://girlintheraw.com/category/lifestyle/">Lifestyle</a>
</li>
	<li class="cat-item cat-item-150"><a href="http://girlintheraw.com/category/race-recaps/">Race Recaps</a>
</li>
	<li class="cat-item cat-item-161"><a href="http://girlintheraw.com/category/raw-food/">Raw Food</a>
</li>
	<li class="cat-item cat-item-151"><a href="http://girlintheraw.com/category/recipes/">Recipes</a>
</li>
	<li class="cat-item cat-item-152"><a href="http://girlintheraw.com/category/reviews/">Reviews</a>
</li>
	<li class="cat-item cat-item-153"><a href="http://girlintheraw.com/category/running-and-triathlon/">Running and Triathlon</a>
</li>
	<li class="cat-item cat-item-154"><a href="http://girlintheraw.com/category/salad/">Salad</a>
</li>
	<li class="cat-item cat-item-156"><a href="http://girlintheraw.com/category/snacks/">Snacks</a>
</li>
	<li class="cat-item cat-item-157"><a href="http://girlintheraw.com/category/travel/">Travel</a>
</li>
	<li class="cat-item cat-item-163"><a href="http://girlintheraw.com/category/wellness/">Wellness</a>
</li>
	<li class="cat-item cat-item-158"><a href="http://girlintheraw.com/category/yoga/">Yoga</a>
</li>
		</ul>
			</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-4">
                        		<div class="default-widget widget widget_recent_entries example-footer-sidebar">		<h3 class="widget-title">Recent Posts</h3>		<ul>
											<li>
					<a href="http://girlintheraw.com/2020/01/26/birthday-reflections/">Birthday Reflections</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/06/04/nuzest-plant-based-protein-powder-review-with-smoothie-recipe/">Nuzest plant-based protein powder review with Smoothie recipe</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2019/03/26/race-recap-rock-n-roll-marathon-medellin/">Race recap: Rock ‘n’ Roll Marathon Medellin</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/06/25/ironman-70-3-costa-rica-2018-race-recap/">Ironman 70.3 Costa Rica 2018 race recap</a>
									</li>
											<li>
					<a href="http://girlintheraw.com/2018/02/18/yoga-and-ayurveda-teacher-training-in-costa-rica/">Yoga and Ayurveda teacher training in Costa Rica</a>
									</li>
					</ul>
		</div>                    </div>
                                <div class="col-lg-20 col-md-20 col-sm-6 footer-columns-col-5">
                        <div class="default-widget widget widget_archive example-footer-sidebar"><h3 class="widget-title">Archives</h3>		<ul>
				<li><a href="http://girlintheraw.com/2020/01/">January 2020</a></li>
	<li><a href="http://girlintheraw.com/2019/06/">June 2019</a></li>
	<li><a href="http://girlintheraw.com/2019/03/">March 2019</a></li>
	<li><a href="http://girlintheraw.com/2018/06/">June 2018</a></li>
	<li><a href="http://girlintheraw.com/2018/02/">February 2018</a></li>
	<li><a href="http://girlintheraw.com/2018/01/">January 2018</a></li>
	<li><a href="http://girlintheraw.com/2017/11/">November 2017</a></li>
	<li><a href="http://girlintheraw.com/2017/06/">June 2017</a></li>
	<li><a href="http://girlintheraw.com/2017/03/">March 2017</a></li>
	<li><a href="http://girlintheraw.com/2016/12/">December 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/11/">November 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/10/">October 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/09/">September 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/08/">August 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/07/">July 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/06/">June 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/04/">April 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/03/">March 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/02/">February 2016</a></li>
	<li><a href="http://girlintheraw.com/2016/01/">January 2016</a></li>
	<li><a href="http://girlintheraw.com/2015/12/">December 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/11/">November 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/10/">October 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/09/">September 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/08/">August 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/07/">July 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/06/">June 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/05/">May 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/04/">April 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/02/">February 2015</a></li>
	<li><a href="http://girlintheraw.com/2015/01/">January 2015</a></li>
	<li><a href="http://girlintheraw.com/2014/12/">December 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/11/">November 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/10/">October 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/07/">July 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/06/">June 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/03/">March 2014</a></li>
	<li><a href="http://girlintheraw.com/2014/01/">January 2014</a></li>
	<li><a href="http://girlintheraw.com/2013/09/">September 2013</a></li>
	<li><a href="http://girlintheraw.com/2013/08/">August 2013</a></li>
	<li><a href="http://girlintheraw.com/2013/06/">June 2013</a></li>
		</ul>
			</div>                    </div>
            
        </div>

	</div>
    
    

				<div class="footer-copyrights">
					<ul>
						<li class="credits">
                            <a href="https://www.lyrathemes.com/elara/" target="_blank">Elara</a> by LyraThemes                        </li>

						<li>
															Made by <a href="https://www.lyrathemes.com/elara/">LyraThemes.com</a>													</li>
					</ul>
				</div>

			</div>
		</div>
	</div>

<script type="text/javascript">
/* <![CDATA[ */
var countVars = {"disqusShortname":"girlintheraw"};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/disqus-comment-system/public/js/comment_count.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var embedVars = {"disqusConfig":{"integration":"wordpress 3.0.17"},"disqusIdentifier":"252 http:\/\/localhost\/?p=252","disqusShortname":"girlintheraw","disqusTitle":"Holiday Gift Guide for Yogis","disqusUrl":"http:\/\/girlintheraw.com\/2014\/12\/16\/holiday-gift-guide-for-yogis\/","postId":"252"};
/* ]]> */
</script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/plugins/disqus-comment-system/public/js/comment_embed.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.smartmenus.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.smartmenus.bootstrap.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/slick.min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="http://girlintheraw.com/wp-content/themes/elara/assets/js/elara.min.js"></script>
</body>
</html>
